{%- extends './_layout-docs.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'docs',
  name: 'ドキュメント'
} -%}
{%- set document = {
  relativePath: '../',
  url: 'docs/align.html',
  type: 'page',
  class: 'docs_align',
  name: 'align',
  titleSetting: {
    'uniqueTitle': '',
    'document': true, 'group': true, 'site': true },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1>align</h1>
<p>float属性を使用して配置を変更します。<br>回り込みの解除に、<code><a href="./others.html#.clear">.clear</a></code>や<code><a href="./others.html#.clearfix">.clearfix</a></code>を使用できます。</p>
<p>WordPressとの互換性の為、ハイフンを省いたクラスを使うことができます。(例:<code>.aligncenter</code>)</p>
<table class="w-1of1">
  <tr>
    <th>Variation</th>
    <th>Breakpoint</th>
  </tr>
  <tr>
    <td>.align-center<br>.align-left<br>.align-right<br>.aligncenter<br>.alignleft<br>.alignright</td>
    <td>[default] (0〜)<br>--splg (425px)<br>--tb (600px)<br>--tblg (800px)<br>--dt (1200px)</td>
  </tr>
</table>
<table class="w-1of1" style="min-width:600px;">
  <tr>
    <th>Variation</th>
    <th>Breakpoint</th>
  </tr>
  <tr>
    <td>.align-center<br>.align-left<br>.align-right<br>.aligncenter<br>.alignleft<br>.alignright</td>
    <td>[default] (0〜)<br>--splg (425px)<br>--tb (600px)<br>--tblg (800px)<br>--dt (1200px)</td>
  </tr>
</table>
<h2>ソース</h2>
<pre><code>.align-center, .aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; max-width: 100%; text-align: center; float: none; } @media (min-width: 425px) { .align-center--splg, .aligncenter--splg { clear: both; display: block; margin-left: auto; margin-right: auto; max-width: 100%; text-align: center; float: none; } } @media (min-width: 600px) { .align-center--tb, .aligncenter--tb { clear: both; display: block; margin-left: auto; margin-right: auto; max-width: 100%; text-align: center; float: none; } } @media (min-width: 800px) { .align-center--tblg, .aligncenter--tblg { clear: both; display: block; margin-left: auto; margin-right: auto; max-width: 100%; text-align: center; float: none; } } @media (min-width: 1190px) { .align-center--dt, .aligncenter--dt { clear: both; display: block; margin-left: auto; margin-right: auto; max-width: 100%; text-align: center; float: none; } } .align-left, .alignleft { float: left; margin-bottom: 5px; min-width: auto; vertical-align: top; } .align-right, .alignright { float: right; margin-bottom: 5px; min-width: auto; vertical-align: top; } @media (min-width: 425px) { .align-left--splg, .alignleft--splg { float: left; margin-bottom: 5px; min-width: auto; vertical-align: top; } .align-right--splg, .alignright--splg { float: right; margin-bottom: 5px; min-width: auto; vertical-align: top; } } @media (min-width: 600px) { .align-left--tb, .alignleft--tb { float: left; margin-bottom: 5px; min-width: auto; vertical-align: top; } .align-right--tb, .alignright--tb { float: right; margin-bottom: 5px; min-width: auto; vertical-align: top; } } @media (min-width: 800px) { .align-left--tblg, .alignleft--tblg { float: left; margin-bottom: 5px; min-width: auto; vertical-align: top; } .align-right--tblg, .alignright--tblg { float: right; margin-bottom: 5px; min-width: auto; vertical-align: top; } } @media (min-width: 1190px) { .align-left--dt, .alignleft--dt { float: left; margin-bottom: 5px; min-width: auto; vertical-align: top; } .align-right--dt, .alignright--dt { float: right; margin-bottom: 5px; min-width: auto; vertical-align: top; } } .align-left, .alignleft { margin-right: 10px; max-width: 48%; } @media (min-width: 425px) { .align-left, .alignleft { margin-right: 20px; max-width: 60%; } } @media (min-width: 600px) { .align-left, .alignleft { margin-right: 30px; max-width: 70%; } } @media (min-width: 800px) { .align-left, .alignleft { margin-right: 30px; max-width: 75%; } } @media (min-width: 1190px) { .align-left, .alignleft { margin-right: 40px; max-width: 80%; } } .align-right, .alignright { margin-left: 10px; max-width: 48%; } @media (min-width: 425px) { .align-right, .alignright { margin-left: 20px; max-width: 60%; } } @media (min-width: 600px) { .align-right, .alignright { margin-left: 30px; max-width: 70%; } } @media (min-width: 800px) { .align-right, .alignright { margin-left: 30px; max-width: 75%; } } @media (min-width: 1190px) { .align-right, .alignright { margin-left: 40px; max-width: 80%; } } @media (min-width: 425px) { .align-left--splg, .alignleft--splg { margin-right: 10px; max-width: 48%; } } @media (min-width: 425px) and (min-width: 425px) { .align-left--splg, .alignleft--splg { margin-right: 20px; max-width: 60%; } } @media (min-width: 425px) and (min-width: 600px) { .align-left--splg, .alignleft--splg { margin-right: 30px; max-width: 70%; } } @media (min-width: 425px) and (min-width: 800px) { .align-left--splg, .alignleft--splg { margin-right: 30px; max-width: 75%; } } @media (min-width: 425px) and (min-width: 1190px) { .align-left--splg, .alignleft--splg { margin-right: 40px; max-width: 80%; } } @media (min-width: 425px) { .align-right--splg, .alignright--splg { margin-left: 10px; max-width: 48%; } } @media (min-width: 425px) and (min-width: 425px) { .align-right--splg, .alignright--splg { margin-left: 20px; max-width: 60%; } } @media (min-width: 425px) and (min-width: 600px) { .align-right--splg, .alignright--splg { margin-left: 30px; max-width: 70%; } } @media (min-width: 425px) and (min-width: 800px) { .align-right--splg, .alignright--splg { margin-left: 30px; max-width: 75%; } } @media (min-width: 425px) and (min-width: 1190px) { .align-right--splg, .alignright--splg { margin-left: 40px; max-width: 80%; } } @media (min-width: 600px) { .align-left--tb, .alignleft--tb { margin-right: 10px; max-width: 48%; } } @media (min-width: 600px) and (min-width: 425px) { .align-left--tb, .alignleft--tb { margin-right: 20px; max-width: 60%; } } @media (min-width: 600px) and (min-width: 600px) { .align-left--tb, .alignleft--tb { margin-right: 30px; max-width: 70%; } } @media (min-width: 600px) and (min-width: 800px) { .align-left--tb, .alignleft--tb { margin-right: 30px; max-width: 75%; } } @media (min-width: 600px) and (min-width: 1190px) { .align-left--tb, .alignleft--tb { margin-right: 40px; max-width: 80%; } } @media (min-width: 600px) { .align-right--tb, .alignright--tb { margin-left: 10px; max-width: 48%; } } @media (min-width: 600px) and (min-width: 425px) { .align-right--tb, .alignright--tb { margin-left: 20px; max-width: 60%; } } @media (min-width: 600px) and (min-width: 600px) { .align-right--tb, .alignright--tb { margin-left: 30px; max-width: 70%; } } @media (min-width: 600px) and (min-width: 800px) { .align-right--tb, .alignright--tb { margin-left: 30px; max-width: 75%; } } @media (min-width: 600px) and (min-width: 1190px) { .align-right--tb, .alignright--tb { margin-left: 40px; max-width: 80%; } } @media (min-width: 800px) { .align-left--tblg, .alignleft--tblg { margin-right: 10px; max-width: 48%; } } @media (min-width: 800px) and (min-width: 425px) { .align-left--tblg, .alignleft--tblg { margin-right: 20px; max-width: 60%; } } @media (min-width: 800px) and (min-width: 600px) { .align-left--tblg, .alignleft--tblg { margin-right: 30px; max-width: 70%; } } @media (min-width: 800px) and (min-width: 800px) { .align-left--tblg, .alignleft--tblg { margin-right: 30px; max-width: 75%; } } @media (min-width: 800px) and (min-width: 1190px) { .align-left--tblg, .alignleft--tblg { margin-right: 40px; max-width: 80%; } } @media (min-width: 800px) { .align-right--tblg, .alignright--tblg { margin-left: 10px; max-width: 48%; } } @media (min-width: 800px) and (min-width: 425px) { .align-right--tblg, .alignright--tblg { margin-left: 20px; max-width: 60%; } } @media (min-width: 800px) and (min-width: 600px) { .align-right--tblg, .alignright--tblg { margin-left: 30px; max-width: 70%; } } @media (min-width: 800px) and (min-width: 800px) { .align-right--tblg, .alignright--tblg { margin-left: 30px; max-width: 75%; } } @media (min-width: 800px) and (min-width: 1190px) { .align-right--tblg, .alignright--tblg { margin-left: 40px; max-width: 80%; } } @media (min-width: 1190px) { .align-left--dt, .alignleft--dt { margin-right: 10px; max-width: 48%; } } @media (min-width: 1190px) and (min-width: 425px) { .align-left--dt, .alignleft--dt { margin-right: 20px; max-width: 60%; } } @media (min-width: 1190px) and (min-width: 600px) { .align-left--dt, .alignleft--dt { margin-right: 30px; max-width: 70%; } } @media (min-width: 1190px) and (min-width: 800px) { .align-left--dt, .alignleft--dt { margin-right: 30px; max-width: 75%; } } @media (min-width: 1190px) and (min-width: 1190px) { .align-left--dt, .alignleft--dt { margin-right: 40px; max-width: 80%; } } @media (min-width: 1190px) { .align-right--dt, .alignright--dt { margin-left: 10px; max-width: 48%; } } @media (min-width: 1190px) and (min-width: 425px) { .align-right--dt, .alignright--dt { margin-left: 20px; max-width: 60%; } } @media (min-width: 1190px) and (min-width: 600px) { .align-right--dt, .alignright--dt { margin-left: 30px; max-width: 70%; } } @media (min-width: 1190px) and (min-width: 800px) { .align-right--dt, .alignright--dt { margin-left: 30px; max-width: 75%; } } @media (min-width: 1190px) and (min-width: 1190px) { .align-right--dt, .alignright--dt { margin-left: 40px; max-width: 80%; } }</code></pre>
<h2>例</h2>
<div class="codeExample">
  <p><img class="align-left" src="/images/sample-image.png" width="30%" alt="Sample Image">[左寄せ]あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。<br class="clear"></p>
  <p class="align-center"><img src="/images/sample-image.png" width="240" alt="Sample Image"></p>
  <p><img class="align-right" src="/images/sample-image.png" width="240" alt="Sample Image"></p>
  <p class="_clearfix">[右寄せ]あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <hr class="clear">
</div>
<pre><code class="html">&lt;p&gt;&lt;img class=&quot;align-center&quot; src=&quot;&#x2F;images&#x2F;sample-image.png&quot; width=&quot;240&quot; alt=&quot;Sample Image&quot;&gt;&lt;&#x2F;p&gt;
&lt;p&gt;[中央寄せ]あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。&lt;br class=&quot;clear&quot;&gt;&lt;&#x2F;p&gt;
&lt;p&gt;&lt;img class=&quot;align-left&quot; src=&quot;&#x2F;images&#x2F;sample-image.png&quot; width=&quot;30%&quot; alt=&quot;Sample Image&quot;&gt;[左寄せ]あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。&lt;br class=&quot;clear&quot;&gt;&lt;&#x2F;p&gt;
&lt;p&gt;&lt;img class=&quot;align-right&quot; src=&quot;&#x2F;images&#x2F;sample-image.png&quot; width=&quot;240&quot; alt=&quot;Sample Image&quot;&gt;&lt;&#x2F;p&gt;
&lt;p class=&quot;clearfix&quot;&gt;[右寄せ]あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。&lt;&#x2F;p&gt;
</code></pre>
{% endblock -%}


{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}