{%- extends './_layout-docs.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'docs',
  name: 'ドキュメント'
} -%}
{%- set document = {
  relativePath: '../',
  url: 'docs/flexGrid.html',
  type: 'page',
  class: 'docs_flexGrid',
  name: 'flexGrid',
  titleSetting: {
    'uniqueTitle': '',
    'document': true, 'group': true, 'site': true },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1>Flexbox</h1>
<div class="flexbox flexbox-compact">
  <div>
    <p>Item 1<br>Item 1</p>
  </div>
  <div>
    <p style="width: 280px;">Item 2</p>
  </div>
  <div style="width: 300px;">
    <p>3 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  </div>
  <div>
    <p>Item 4</p>
    <p>Item 4</p>
  </div>
  <div style="width: 50%;">
    <p>Item 5</p>
  </div>
  <div style="width: 50%;">
    <p>Item 6</p>
    <p>Item 6</p>
  </div>
  <div class="w-100">
    <p>Item 7</p>
  </div>
  <div class="w-1of3 w-2of3--tb">
    <p>Item 8 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  </div>
  <div class="w-2of3 w-1of3--tb">
    <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  </div>
</div>
<div style="background: #eee;">
  <p>テキスト</p>
</div>
<h1>Box</h1>
<div class="box">
  <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
</div>
<div class="box box-compact elem-compact">
  <h2>box-compact</h2>
  <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <h2>h3</h2>
  <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
</div>
<div class="box">
  <div class="flexbox flexbox-compact">
    <div>
      <p>aaaaaあああああああ</p>
    </div>
    <div>
      <p>aaaaaあああああああ</p>
    </div>
  </div>
</div>
<h1>Table</h1>
<div class="table w-100--dt">
  <div>
    <p class="whiteSpace-nowrap w-20--tb">郵便番号:</p><p>[text postal-code min:7 max:8 placeholder "123-4567"]</p>
  </div>
  <div>
    <p>都道府県:</p>
    <div>
      <p>都道府県:</p><p>[text address-level1 class:w-100--splg]</p>
    </div>
  </div>
  <div>
    <p>市区町村:</p><p>[text address-level2 class:_w-100--splg]</p>
  </div>
  <div>
    <p>番地/建物/部屋:</p><p>[text address-line1 class:_w-100--splg]</p>
  </div>
</div>
<p>テキスト</p>


{% endblock -%}


{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}