{%- extends './_layout-docs.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'docs',
  name: 'ドキュメント'
} -%}
{%- set document = {
  relativePath: '../',
  url: 'docs/align.html',
  type: 'page',
  class: 'docs_others',
  name: 'その他',
  titleSetting: {
    'uniqueTitle': '',
    'document': true, 'group': true, 'site': true },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1>その他</h1>
<h2 id=".clear">.clear</h2>
<p>float属性による回り込みを解除します。</p>
<p><code>hr</code>に付与した場合、<code>hr</code>は非表示になります。</p>
<table class="w-1of1">
  <tr>
    <th>Variation</th>
    <th>Breakpoint</th>
  </tr>
  <tr>
    <td>.clear</td>
    <td>(無し)</td>
  </tr>
</table>
<pre><code>.clear { clear: both; } hr.clear { visibility: hidden !important; margin: 0 !important; height: 0 !important; border-width: 0 !important; } hr.clear + * { margin-top: 0 !important; }</code></pre>
<h2 id=".clearfix">.clearfix</h2>
<p><code>::after</code>擬似要素によって、要素内の回り込みを解除します。</p>
<table class="w-1of1">
  <tr>
    <th>Variation</th>
    <th>Breakpoint</th>
  </tr>
  <tr>
    <td>.clearfix</td>
    <td>(無し)</td>
  </tr>
</table>
<pre><code>.clearfix::after { content: ""; clear: both; display: table; }</code></pre>
{% endblock -%}


{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}