{%- extends './_layout-docs.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'docs',
  name: ''
} -%}
{%- set document = {
  relativePath: '../',
  url: 'docs/test.html',
  type: 'page',
  class: 'docs-test',
  name: 'Test',
  titleSetting: {
    'uniqueTitle': '',
    'document': true, 'group': false, 'site': true },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1>Test</h1>
<table class="t1">
  <caption>Caption</caption>
 <colgroup span="1" style="_width:50px; background-color:#ccccff;">
 </colgroup>
 <colgroup style="background-color:#ccffcc;">
  <col span="1" style="_width:100px; _background-color:#ffcccc;">
  <col span="2" style="_width:150px; _background-color:#ccffcc;">
 </colgroup>
 <tr><th>名前</th><th>出身</th><th>Ａ値</th><th>Ｂ値</th></tr>
 <tr><td>田中</td><td>東京</td><td>123</td><td>12.3</td></tr>
 <tr><td>鈴木</td><td>大坂</td><td>456</td><td>45.6</td></tr>
 <tr><td>佐藤</td><td>京都</td><td>789</td><td>78.9</td></tr>
</table>
<table class="table-simple">
 {# <colgroup span="1" style="_width:50px; background-color:#ccccff;">
 </colgroup>
 <colgroup style="background-color:#ccffcc;">
  <col span="1" style="_width:100px; _background-color:#ffcccc;">
  <col span="2" style="_width:150px; _background-color:#ccffcc;">
 </colgroup> #}
 <tr><th>名前</th><th>出身</th><th>Ａ値</th><th>Ｂ値</th></tr>
 <tr><td>田中</td><td>東京</td><td>123</td><td>12.3</td></tr>
 <tr><td>鈴木</td><td>大坂</td><td>456</td><td>45.6</td></tr>
 <tr><td>佐藤</td><td>京都</td><td>789</td><td>78.9</td></tr>
</table>
<p>ああああああああ</p>
<p>ああああああああ</p>
<p>ああああああああ</p>
<table class="table-compact">
 {# <colgroup span="1" style="_width:50px; background-color:#ccccff;">
 </colgroup>
 <colgroup style="background-color:#ccffcc;">
  <col span="1" style="_width:100px; _background-color:#ffcccc;">
  <col span="2" style="_width:150px; _background-color:#ccffcc;">
 </colgroup> #}
 <tr><th>名前</th><th>出身</th><th>Ａ値</th><th>Ｂ値</th></tr>
 <tr><td>田中</td><td>東京</td><td><input></td><td>12.3</td></tr>
 <tr><td>鈴木</td><td>大坂</td><td>456</td><td>45.6</td></tr>
 <tr><td>佐藤</td><td>京都</td><td>789</td><td>78.9</td></tr>
</table>
<table class="table-simple table-compact">
 {# <colgroup span="1" style="_width:50px; background-color:#ccccff;">
 </colgroup>
 <colgroup style="background-color:#ccffcc;">
  <col span="1" style="_width:100px; _background-color:#ffcccc;">
  <col span="2" style="_width:150px; _background-color:#ccffcc;">
 </colgroup> #}
 <tr><th>名前</th><th>出身</th><th>Ａ値</th><th>Ｂ値</th></tr>
 <tr><td>田中</td><td>東京</td><td>123</td><td>12.3</td></tr>
 <tr><td>鈴木</td><td>大坂</td><td>456</td><td>45.6</td></tr>
 <tr><td>佐藤</td><td>京都</td><td>789</td><td>78.9</td></tr>
</table>
<table class="meibo override">
 <colgroup span="1" style="_width:50px; background-color:#ccccff;">
 </colgroup>
 <colgroup style="background-color:#ccffcc;">
  <col span="1" style="_width:100px; _background-color:#ffcccc;">
  <col span="2" style="_width:150px; _background-color:#ccffcc;">
 </colgroup>
 <tr><th>名前</th><th>出身</th><th>Ａ値</th><th>Ｂ値</th></tr>
 <tr><td>田中</td><td>東京</td><td>123</td><td>12.3</td></tr>
 <tr><td>鈴木</td><td>大坂</td><td>456</td><td>45.6</td></tr>
 <tr><td>佐藤</td><td>京都</td><td>789</td><td>78.9</td></tr>
</table>
<div class="tableGrid tableGrid-compact">
  {# <div class="colgroup" span="1" style="_width:50px; background-color:#ccccff;">
  </div class="colgroup">
  <div class="colgroup" style="background-color:#ccffcc;">
    <div class="col" span="1" style="_width:100px; _background-color:#ffcccc;"></div>
    <div class="col" span="2" style="_width:150px; _background-color:#ccffcc;">
    </div>
  </div> #}
  <div class="">
    <div class="">名前</div>
    <div class="">出身</div>
    <div class="">Ａ値</div>
    <div class="">Ｂ値</div>
  </div>
  <div>
    <div>田中</div>
    <div>東京</div>
    <div>123</div>
    <div>12.3</div>
  </div>
  <div>
    <div>鈴木</div>
    <div>大坂</div>
    <div>456</div>
    <div>45.6</div>
  </div>
  <div>
    <div>佐藤</div>
    <div>京都</div>
    <div>789</div>
    <div>78.9</div>
  </div>
</div>
<p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
{% endblock -%}


{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}