/* MARK: | align
............................................................ */
$_align: 'align' !default;
// center
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}#{$_align}-center#{breakpointTrigger($_breakpoint)},
    .#{$_pre-h}aligncenter#{breakpointTrigger($_breakpoint)} {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      text-align: center;
      float: none;
    }
  }
}
// left, right
$_align-maxWidth: (
  default: 48%,
  splg: 60%,
  tb: 70%,
  tblg: 75%,
  dt: 80%
) !default;
$_align-margin-bottom: 0 !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}#{$_align}-left#{breakpointTrigger($_breakpoint)},
    .#{$_pre-h}alignleft#{breakpointTrigger($_breakpoint)} {
      float: left;
      margin-bottom: $_align-margin-bottom;
      min-width: auto;
      vertical-align: top;
    }
    .#{$_pre-h}#{$_align}-right#{breakpointTrigger($_breakpoint)},
    .#{$_pre-h}alignright#{breakpointTrigger($_breakpoint)} {
      float: right;
      margin-bottom: $_align-margin-bottom;
      min-width: auto;
      vertical-align: top;
    }
  }
}
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}#{$_align}-left#{breakpointTrigger($_breakpoint)},
    .#{$_pre-h}alignleft#{breakpointTrigger($_breakpoint)} {
      @each $_maxWidth-bp, $_maxWidth-value in $_align-maxWidth {
        @include _mq($_maxWidth-bp) {
          margin-right: map-get($_gap-mq, $_maxWidth-bp);
          max-width: $_maxWidth-value;
        }
      }
    }
    .#{$_pre-h}#{$_align}-right#{breakpointTrigger($_breakpoint)},
    .#{$_pre-h}alignright#{breakpointTrigger($_breakpoint)} {
      @each $_maxWidth-bp, $_maxWidth-value in $_align-maxWidth {
        @include _mq($_maxWidth-bp) {
          margin-left: map-get($_gap-mq, $_maxWidth-bp);
          max-width: $_maxWidth-value;
        }
      }
    }
  }
}
