/* MARK: | flexDirection
............................................................ */
$_h-flexDirection: (
  row: row,
  // rowReverse: row-reverse,
  column: column,
  // columnRreverse: column-reverse
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-flexDirection {
      .#{$_pre-h}flexDirection-#{$_key}#{breakpointTrigger($_breakpoint)} {
        flex-direction: #{$_value} !important;
      }
    }
  }
}
/* MARK: | flexWrap
............................................................ */
$_h-flexWrap: (
  nowrap: nowrap,
  wrap: wrap,
  // wrapReverse: wrap-reverse
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-flexWrap {
      .#{$_pre-h}flexWrap-#{$_key}#{breakpointTrigger($_breakpoint)} {
        flex-wrap: #{$_value} !important;
      }
    }
  }
}
/* MARK: | justifyContent
............................................................ */
$_h-justifyContent: (
  flexStart: flex-start,
  flexEnd: flex-end,
  center: center,
  spaceBetween: space-between,
  spaceAround: space-around,
  // wrapReverse: wrap-reverse
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-justifyContent {
      .#{$_pre-h}justifyContent-#{$_key}#{breakpointTrigger($_breakpoint)} {
        justify-content: #{$_value} !important;
      }
    }
  }
}
/* MARK: | alignItems
............................................................ */
$_h-alignItems: (
  stretch: stretch,
  flexStart: flex-start,
  flexEnd: flex-end,
  center: center,
  baseline: baseline
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-alignItems {
      .#{$_pre-h}alignItems-#{$_key}#{breakpointTrigger($_breakpoint)} {
        align-items: #{$_value} !important;
      }
    }
  }
}
/* MARK: | alignContent
............................................................ */
$_h-alignContent: (
  stretch: stretch,
  flexStart: flex-start,
  flexEnd: flex-end,
  center: center,
  spaceBetween: space-between,
  spaceAround: space-around
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-alignContent {
      .#{$_pre-h}alignContent-#{$_key}#{breakpointTrigger($_breakpoint)} {
        align-content: #{$_value} !important;
      }
    }
  }
}
/* MARK: | order
............................................................ */
$_h-order-max: 10 !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @for $_i from 0 through $_h-order-max {
      .#{$_pre-h}order-#{$_i}#{breakpointTrigger($_breakpoint)} {
        order: #{$_i} !important;
      }
      // .#{$_pre-h}children-order-#{$_i}#{breakpointTrigger($_breakpoint)} > * {
      //   order: #{$_i};
      // }
    }
    @for $_i from 1 through $_h-order-max {
      .#{$_pre-h}order-minus#{$_i}#{breakpointTrigger($_breakpoint)} {
        order: -#{$_i} !important;
      }
      // .#{$_pre-h}children-order-minus#{$_i}#{breakpointTrigger($_breakpoint)} > * {
      //   order: -#{$_i};
      // }
    }
  }
}
/* MARK: | flexGrow
............................................................ */
$_h-flexGrow-max: 10 !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @for $_i from 0 through $_h-flexGrow-max {
      .#{$_pre-h}flexGrow-#{$_i}#{breakpointTrigger($_breakpoint)} {
        flex-grow: #{$_i} !important;
      }
      .#{$_pre-h}children-flexGrow-#{$_i}#{breakpointTrigger($_breakpoint)} > * {
        flex-grow: #{$_i};
      }
    }
  }
}
/* MARK: | flexShrink
............................................................ */
$_h-flexShrink-max: 10 !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @for $_i from 0 through $_h-flexShrink-max {
      .#{$_pre-h}flexShrink-#{$_i}#{breakpointTrigger($_breakpoint)} {
        flex-shrink: #{$_i} !important;
      }
    }
  }
}
/* MARK: | flexBasis
............................................................ */
/* MARK: | alignSelf
............................................................ */
$_h-alignSelf: (
  auto: auto,
  flexStart: flex-start,
  flexEnd: flex-end,
  center: center,
  baseline:baseline,
  stretch: stretch
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-alignSelf {
      .#{$_pre-h}alignSelf-#{$_key}#{breakpointTrigger($_breakpoint)} {
        align-self: #{$_value} !important;
      }
    }
  }
}