/* MARK: | clearfix & clear
............................................................ */
.#{$_pre-h}clearfix {
  @include _clearfix();
}
.#{$_pre-h}clear {
  clear: both;
  @at-root {
    hr#{&} {
      visibility: hidden !important;
      margin: 0 !important;
      height: 0 !important;
      border-width: 0 !important;
      & + * {
        margin-top: 0 !important;
      }
    }
  }
}
/* MARK: | elem
............................................................ */
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}elem-compact#{breakpointTrigger($_breakpoint)} {
      // line-height: $_lineHeight-small;
      #{$_blockElem} {
        @include _blockElemGap($_blockElem-gap-compact);
      }
    }
  }
}
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}elem-compact#{breakpointTrigger($_breakpoint)} {
      // line-height: $_lineHeight-small;
      #{$_blockElem} {
        @include _blockElemGap($_blockElem-gap-compact);
      }
    }
    .#{$_pre-h}elem-diffuse#{breakpointTrigger($_breakpoint)} {
      // line-height: $_lineHeight-large;
      #{$_blockElem} {
        @include _blockElemGap($_blockElem-gap-diffuse);
      }
    }
  }
}
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}elem-small#{breakpointTrigger($_breakpoint)} {
      // line-height: $_lineHeight-small;
      font-size: $_fontSize-small;
      #{$_blockElem} {
        @include _blockElemGap($_blockElem-gap-compact);
      }
    }
    .#{$_pre-h}elem-large#{breakpointTrigger($_breakpoint)} {
      // line-height: $_lineHeight-small;
      font-size: $_fontSize-large;
      // #{$_blockElem} {
      //   @include _blockElemGap($_blockElem-gap-compact);
      // }
    }
  }
}
/* MARK: | display
............................................................ */
$_h-display: 'd';
$_h-display-property: (
  none: none,
  inline: inline,
  block: block,
  inlineBlock: inline-block,
  flex: flex,
  inlineFlex: inline-flex,
  table: table,
  inlineTable: inline-table
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-display-property {
      .#{$_pre-h}#{$_h-display}-#{$_key}#{breakpointTrigger($_breakpoint)} {
        display: #{$_value} !important;
      }
    }
  }
}
$_h-children-display: (
  inline: inline,
  block: block,
  inlineBlock: inline-block,
  tableRow: table-row,
  tableCell: table-cell
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-children-display {
      .#{$_pre-h}children-#{$_h-display}-#{$_key}#{breakpointTrigger($_breakpoint)} > * {
        display: #{$_value};
      }
    }
  }
}
/* MARK: | tableLayout
............................................................ */
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}tableLayout-auto#{breakpointTrigger($_breakpoint)} {
      table-layout: auto !important;
    }
    .#{$_pre-h}tableLayout-fixed#{breakpointTrigger($_breakpoint)} {
      table-layout: fixed !important;
    }
  }
}
/* MARK: | captionSide
............................................................ */
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}captionSide-top#{breakpointTrigger($_breakpoint)} {
      caption-side: top !important;
    }
    .#{$_pre-h}captionSide-bottom#{breakpointTrigger($_breakpoint)} {
      caption-side: bottom !important;
    }
  }
}
/* MARK: | borderRadius
............................................................ */
$_h-borderRadius: (
  0: 0,
  2px: 2px,
  3px: 3px,
  4px: 4px,
  5px: 5px,
  6px: 6px,
  8px: 8px,
  10px: 10px,
  20px: 20px,
  30px: 30px,
  40px: 40px,
  50px: 50px,
  circle: 50%
) !default;
$_h-borderRadius-default: (
  default: $_borderRadius,
  tb: 30px
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-borderRadius {
      .#{$_pre-h}borderRadius-#{$_key}#{breakpointTrigger($_breakpoint)} {
        border-radius: $_value !important;
        overflow: hidden;
      }
    }
  }
}
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}borderRadius#{breakpointTrigger($_breakpoint)} {
      @each $_breakpoint, $_value in $_h-borderRadius-default {
        @include _mq($_breakpoint) {
          border-radius: #{map-deep-get($_h-borderRadius-default, $_breakpoint)};
          overflow: hidden;
        }
      }
    }
  }
}