$_h-width:'w';
$_h-width-fraction: (
  '100%': (1of1, 2of2, 3of3, 4of4, 5of5, 6of6, 7of7, 8of8, 9of9), //(1of1, 2of2, 3of3, 4of4, 5of5, 6of6, 7of7, 8of8, 9of9, 10of10, 11of11, 12of12),
  '33.33333%': (1of3, 2of6, 3of9), //(1of3, 2of6, 3of9, 4of12),
  '66.66667%': (2of3, 4of6, 6of9), //(2of3, 4of6, 6of9, 8of12),
  '25%': (1of4, 2of8, 4of8), //(1of4, 2of8, 4of8, 5of10, 3of12),
  '50%': (1of2, 2of4, 3of6, 4of8), //(1of2, 2of4, 3of6, 4of8, 5of10, 6of12),
  '75%': (3of4, 6of8), //(3of4, 6of8, 9of12),
  '20%': (1of5), //(1of5, 2of10),
  '40%': (2of5), //(2of5, 4of10),
  '60%': (3of5), //(3of5, 6of10),
  '80%': (4of5), //(4of5, 8of10),
  '16.66667%': (1of6), //(1of6, 2of12),
  '83.33333%': (5of6), //(5of6, 10of12),
  '14.28571%': (1of7),
  '28.57143%': (2of7),
  '42.85714%': (3of7),
  '57.14286%': (4of7),
  '71.42857%': (5of7),
  '85.71429%': (6of7),
  '12.5%': (1of8),
  '37.5%': (3of8),
  '62.5%': (5of8),
  '87.5%': (7of8),
  '11.11111%': (1of9),
  '22.22222%': (2of9),
  '44.44444%': (4of9),
  '55.55556%': (5of9),
  '77.77778%': (7of9),
  '88.88889%': (8of9),
  // '10%': (1of10),
  // '30%': (3of10),
  // '70%': (7of10),
  // '90%': (9of10),
  // '9.09091%': (1of11),
  // '18.18182': (2of11),
  // '27.27273%': (3of11),
  // '36.36364%': (4of11),
  // '45.45455%': (5of11),
  // '54.54545%': (6of11),
  // '63.63636%': (7of11),
  // '72.72727%': (8of11),
  // '81.81818%': (9of11),
  // '90.90909%': (10of11),
  // '8.33333%': (1of12),
  // '41.66667%': (5of12),
  // '58.33333%': (7of12),
  // '91.66667%': (11of12),
) !default;
/* MARK:| width
............................................................ */
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}#{$_h-width}-auto#{breakpointTrigger($_breakpoint)} {
      width: auto !important;
      max-width: 100% !important;
      flex: 0 0 auto !important;
    }
    .#{$_pre-h}children-#{$_h-width}-auto#{breakpointTrigger($_breakpoint)} > *,
    .#{$_pre-h}odd-#{$_h-width}-auto#{breakpointTrigger($_breakpoint)} > *:nth-child(odd),
    .#{$_pre-h}even-#{$_h-width}-auto#{breakpointTrigger($_breakpoint)} > *:nth-child(even) {
      width: auto;
      max-width: 100%;
      flex: 0 0 auto;
    }
    /* fraction */
    @each $_key, $_value in $_h-width-fraction {
      $_selector: '';
      @each $_selector-value in $_value {
        $_selector: $_selector + '.#{$_pre-h}#{$_h-width}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ','
      }
      #{$_selector} {
        width: #{$_key} !important;
        max-width: #{$_key};
        flex: 0 0 #{$_key};
      }
    }
    @each $_key, $_value in $_h-width-fraction {
      $_c-selector: '';
      $_children-selector: '';
      $_odd-selector: '';
      $_even-selector: '';
      // children
      @each $_selector-value in $_value {
        $_children-selector: $_children-selector + '.#{$_pre-h}children-#{$_h-width}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ' > *,'
      }
      // odd
      @each $_selector-value in $_value {
        $_odd-selector: $_odd-selector + '.#{$_pre-h}odd-#{$_h-width}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ' > *:nth-child(odd),'
      }
      // even
      @each $_selector-value in $_value {
        $_even-selector: $_even-selector + '.#{$_pre-h}even-#{$_h-width}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ' > *:nth-child(even),'
      }
      $_c-selector: $_children-selector + $_odd-selector + $_even-selector;
      #{$_c-selector} {
        width: #{$_key};
        max-width: #{$_key};
        flex: 0 0 #{$_key};
      }
    }
  }
}
// /* MARK:| maxWidth
// ............................................................ */
// $_h-maxWidth: 'maxW';
// @each $_breakpoint, $_breakpoint-value in $_breakpoints {
//   @include _mq($_breakpoint) {
//     .#{$_pre-h}#{$_h-maxWidth}-none#{breakpointTrigger($_breakpoint)} {
//       max-width: none !important;
//     }
//     .#{$_pre-h}children-#{$_h-maxWidth}-none#{breakpointTrigger($_breakpoint)} > * {
//       max-width: none;
//     }
//     // /* percentage */
//     // @for $_i from 0 through 20 {
//     //   .#{$_pre-h}#{$_h-maxWidth}-#{$_i * 5}#{breakpointTrigger($_breakpoint)} {
//     //     max-width: $_i * 5% !important;
//     //   }
//     //   .#{$_pre-h}children-#{$_h-maxWidth}-#{$_i * 5}#{breakpointTrigger($_breakpoint)} > * {
//     //     max-width: $_i * 5%;
//     //   }
//     // }
//     /* fraction */
//     @each $_key, $_value in $_h-width-fraction {
//       $_selector: '';
//       @each $_selector-value in $_value {
//         $_selector: $_selector + '.#{$_pre-h}#{$_h-maxWidth}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ','
//       }
//       #{$_selector} {
//         max-width: #{$_key} !important;
//       }
//     }
//     @each $_key, $_value in $_h-width-fraction {
//       $_children-selector: '';
//       @each $_selector-value in $_value {
//         $_children-selector: $_children-selector + '.#{$_pre-h}children-#{$_h-maxWidth}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ' > *,'
//       }
//       #{$_children-selector} {
//         max-width: #{$_key};
//       }
//     }
//   }
// }
// /* MARK:| minWidth
// ............................................................ */
// $_h-minWidth: 'minW';
// @each $_breakpoint, $_breakpoint-value in $_breakpoints {
//   @include _mq($_breakpoint) {
//     .#{$_pre-h}#{minWidth}-none#{breakpointTrigger($_breakpoint)} {
//       min-width: none !important;
//     }
//     .#{$_pre-h}children-#{minWidth}-none#{breakpointTrigger($_breakpoint)} > * {
//       min-width: none;
//     }
//     // /* percentage */
//     // @for $_i from 0 through 20 {
//     //   .#{$_pre-h}#{minWidth}-#{$_i * 5}#{breakpointTrigger($_breakpoint)} {
//     //     min-width: $_i * 5% !important;
//     //   }
//     //   .#{$_pre-h}children-#{minWidth}-#{$_i * 5}#{breakpointTrigger($_breakpoint)} > * {
//     //     min-width: $_i * 5%;
//     //   }
//     // }
//     /* fraction */
//     @each $_key, $_value in $_h-width-fraction {
//       $_selector: '';
//       @each $_selector-value in $_value {
//         $_selector: $_selector + '.#{$_pre-h}#{minWidth}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ','
//       }
//       #{$_selector} {
//         min-width: #{$_key} !important;
//       }
//     }
//     @each $_key, $_value in $_h-width-fraction {
//       $_children-selector: '';
//       @each $_selector-value in $_value {
//         $_children-selector: $_children-selector + '.#{$_pre-h}children-#{minWidth}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ' > *,'
//       }
//       #{$_children-selector} {
//         min-width: #{$_key};
//       }
//     }
//   }
// }