$_h-spacing-fraction: (
  '100%': (1of1, 2of2, 3of3, 4of4, 5of5, 6of6, 7of7, 8of8, 9of9), //(1of1, 2of2, 3of3, 4of4, 5of5, 6of6, 7of7, 8of8, 9of9, 10of10, 11of11, 12of12),
  '33.33333%': (1of3, 2of6, 3of9), //(1of3, 2of6, 3of9, 4of12),
  '66.66667%': (2of3, 4of6, 6of9), //(2of3, 4of6, 6of9, 8of12),
  '25%': (1of4, 2of8, 4of8), //(1of4, 2of8, 4of8, 5of10, 3of12),
  '50%': (1of2, 2of4, 3of6, 4of8), //(1of2, 2of4, 3of6, 4of8, 5of10, 6of12),
  '75%': (3of4, 6of8), //(3of4, 6of8, 9of12),
  '20%': (1of5), //(1of5, 2of10),
  '40%': (2of5), //(2of5, 4of10),
  '60%': (3of5), //(3of5, 6of10),
  '80%': (4of5), //(4of5, 8of10),
  '16.66667%': (1of6), //(1of6, 2of12),
  '83.33333%': (5of6), //(5of6, 10of12),
  '14.28571%': (1of7),
  '28.57143%': (2of7),
  '42.85714%': (3of7),
  '57.14286%': (4of7),
  '71.42857%': (5of7),
  '85.71429%': (6of7),
  '12.5%': (1of8),
  '37.5%': (3of8),
  '62.5%': (5of8),
  '87.5%': (7of8),
  '11.11111%': (1of9),
  '22.22222%': (2of9),
  '44.44444%': (4of9),
  '55.55556%': (5of9),
  '77.77778%': (7of9),
  '88.88889%': (8of9),
  // '10%': (1of10),
  // '30%': (3of10),
  // '70%': (7of10),
  // '90%': (9of10),
  // '9.09091%': (1of11),
  // '18.18182': (2of11),
  // '27.27273%': (3of11),
  // '36.36364%': (4of11),
  // '45.45455%': (5of11),
  // '54.54545%': (6of11),
  // '63.63636%': (7of11),
  // '72.72727%': (8of11),
  // '81.81818%': (9of11),
  // '90.90909%': (10of11),
  // '8.33333%': (1of12),
  // '41.66667%': (5of12),
  // '58.33333%': (7of12),
  // '91.66667%': (11of12),
) !default;
/* MARK: | margin
............................................................ */
$_h-margin-value: (
  auto: auto,
  0: 0,
  5px: 5px,
  10px: 10px,
  15px: 15px,
  20px: 20px,
  30px: 30px,
  40px: 40px,
  50px: 50px,
  1em: 1em,
  2em: 2em,
  3em: 3em,
  4em: 4em,
  5em: 5em
) !default;
$_h-margin: 'm';
$_h-margin-property: (
  $_h-margin: margin,
  $_h-margin + X: (margin-left, margin-right),
  $_h-margin + Y: (margin-top, margin-bottom),
  $_h-margin + Top: margin-top,
  $_h-margin + Bottom: margin-bottom,
  $_h-margin + Left: margin-left,
  $_h-margin + Right: margin-right
) !default;
$_h-margin-fraction: (
  $_h-margin + X: (margin-left, margin-right),
  $_h-margin + Left: margin-left,
  $_h-margin + Right: margin-right
) !default;

@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_name, $_props in $_h-margin-property {
      @each $_key, $_value in $_h-margin-value {
        .#{$_pre-h}#{$_name}-#{$_key}#{breakpointTrigger($_breakpoint)} {
          @each $_prop in $_props {
            #{$_prop}: #{$_value} !important;
          }
        }
        // .#{$_pre-h}children-#{$_name}-#{$_key}#{breakpointTrigger($_breakpoint)} > * {
        //   @each $_prop in $_props {
        //     #{$_prop}: #{$_value};
        //   }
        // }
      }
      // gap
      // @each $_breakpoint-gap, $_value in $_gap-mq {
      //   @include _mq($_breakpoint-gap) {
      .#{$_pre-h}#{$_name}-gap#{breakpointTrigger($_breakpoint)} {
        @each $_prop in $_props {
          #{$_prop}: #{$_blockElem-gap} !important;
        }
      }
      // .#{$_pre-h}children-#{$_name}-gap#{breakpointTrigger($_breakpoint)} > * {
      //   @each $_prop in $_props {
      //     #{$_prop}: #{$_value};
      //   }
      // }
      //   }
      // }
      // elem
      // @each $_breakpoint-gap, $_value in $_blockElem-gap-mq {
      // @include _mq($_breakpoint-gap) {
      .#{$_pre-h}#{$_name}-elem#{breakpointTrigger($_breakpoint)} {
        @each $_prop in $_props {
          #{$_prop}: #{$_blockElem-gap} !important;
        }
      }
      // .#{$_pre-h}children-#{$_name}-elem#{breakpointTrigger($_breakpoint)} > * {
      //   @each $_prop in $_props {
      //     #{$_prop}: #{$_value};
      //   }
      // }
      // }
      // }
    }
    // fraction
    @each $_name, $_props in $_h-margin-fraction {
      @each $_key, $_value in $_h-spacing-fraction {
        $_selector: '';
        @each $_selector-value in $_value {
          $_selector: $_selector + '.#{$_pre-h}#{$_name}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ','
        }
        #{$_selector} {
          @each $_prop in $_props {
            #{$_prop}: #{$_key} !important;
          }
        }
      }
      // @each $_key, $_value in $_h-spacing-fraction {
      //   $_children-selector: '';
      //   @each $_selector-value in $_value {
      //     $_children-selector: $_children-selector + '.#{$_pre-h}children-#{$_name}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ' > *,'
      //   }
      //   #{$_children-selector} {
      //     @each $_prop in $_props {
      //       #{$_prop}: #{$_key};
      //     }
      //   }
      // }
    }
  }
}
/* MARK: | padding
............................................................ */
$_h-padding-value: (
  0: 0,
  5px: 5px,
  10px: 10px,
  15px: 15px,
  20px: 20px,
  30px: 30px,
  40px: 40px,
  50px: 50px,
  1em: 1em,
  2em: 2em,
  3em: 3em,
  4em: 4em,
  5em: 5em
) !default;
$_h-padding: 'p';
$_h-padding-property: (
  $_h-padding: padding,
  $_h-padding + X: (padding-left, padding-right),
  $_h-padding + Y: (padding-top, padding-bottom),
  $_h-padding + Top: padding-top,
  $_h-padding + Bottom: padding-bottom,
  $_h-padding + Right: padding-right,
  $_h-padding + Left: padding-left
) !default;
$_h-padding-fraction: (
  $_h-padding + X: (padding-left, padding-right),
  $_h-padding + Left: padding-left,
  $_h-padding + Right: padding-right
) !default;

@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_name, $_props in $_h-padding-property {
      @each $_key, $_value in $_h-padding-value {
        .#{$_pre-h}#{$_name}-#{$_key}#{breakpointTrigger($_breakpoint)} {
          @each $_prop in $_props {
            #{$_prop}: #{$_value} !important;
          }
        }
        // .#{$_pre-h}children-#{$_name}-#{$_key}#{breakpointTrigger($_breakpoint)} > * {
        //   @each $_prop in $_props {
        //     #{$_prop}: #{$_value};
        //   }
        // }
      }
      // gap
      @each $_breakpoint-gap, $_value in $_gap-mq {
        @include _mq($_breakpoint-gap) {
          .#{$_pre-h}#{$_name}-gap#{breakpointTrigger($_breakpoint)} {
            @each $_prop in $_props {
              #{$_prop}: #{$_value} !important;
            }
          }
          // .#{$_pre-h}children-#{$_name}-gap#{breakpointTrigger($_breakpoint)} > * {
          //   @each $_prop in $_props {
          //     #{$_prop}: #{$_value};
          //   }
          // }
        }
      }
      // elem
      // @each $_breakpoint-gap, $_value in $_blockElem-gap-mq {
      //   @include _mq($_breakpoint-gap) {
      .#{$_pre-h}#{$_name}-elem#{breakpointTrigger($_breakpoint)} {
        @each $_prop in $_props {
          #{$_prop}: #{$_blockElem-gap} !important;
        }
      }
      // .#{$_pre-h}children-#{$_name}-elem#{breakpointTrigger($_breakpoint)} > * {
      //   @each $_prop in $_props {
      //     #{$_prop}: #{$_value};
      //   }
      // }
      //   }
      // }
    }
    // fraction
    // @each $_name, $_props in $_h-padding-fraction {
    //   @each $_key, $_value in $_h-spacing-fraction {
    //     $_selector: '';
    //     @each $_selector-value in $_value {
    //       $_selector: $_selector + '.#{$_pre-h}#{$_name}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ','
    //     }
    //     #{$_selector} {
    //       @each $_prop in $_props {
    //         #{$_prop}: #{$_key} !important;
    //       }
    //     }
    //   }
    //   // @each $_key, $_value in $_h-spacing-fraction {
    //   //   $_children-selector: '';
    //   //   @each $_selector-value in $_value {
    //   //     $_children-selector: $_children-selector + '.#{$_pre-h}children-#{$_name}-#{$_selector-value}#{breakpointTrigger($_breakpoint)}' + ' > *,'
    //   //   }
    //   //   #{$_children-selector} {
    //   //     @each $_prop in $_props {
    //   //       #{$_prop}: #{$_key};
    //   //     }
    //   //   }
    //   // }
    // }
  }
}
/* MARK: | indent
............................................................ */
$_h-indent: (
  0: 0,
  1: 30px,
  2: 60px,
  3: 90px
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-indent {
      .#{$_pre-h}indent-#{$_key}#{breakpointTrigger($_breakpoint)} {
        padding-left: #{$_value} !important;
      }
    }
    // /* gap */
    // @each $_breakpoint-gap, $_value in $_gap-mq {
    //   @include _mq($_breakpoint-gap) {
    //     .#{$_pre-h}indent-gap#{breakpointTrigger($_breakpoint)} {
    //       padding-left: #{$_value} !important;
    //     }
    //   }
    // }
  }
}
// /* MARK: | narrow
// ............................................................ */
// $_h-narrow: (
//   0: 0,
//   1: 30px,
//   2: 60px,
//   3: 90px
// ) !default;
// @each $_breakpoint, $_breakpoint-value in $_breakpoints {
//   @include _mq($_breakpoint) {
//     @each $_key, $_value in $_h-narrow {
//       .#{$_pre-h}narrow-#{$_key}#{breakpointTrigger($_breakpoint)} {
//         padding-left: #{$_value} !important;
//         padding-right: #{$_value} !important;
//       }
//     }
//     /* gap */
//     @each $_breakpoint-gap, $_value in $_gap-mq {
//       @include _mq($_breakpoint-gap) {
//         .#{$_pre-h}narrow-gap#{breakpointTrigger($_breakpoint)} {
//           padding-left: #{$_value} !important;
//           padding-right: #{$_value} !important;
//         }
//       }
//     }
//   }
// }