/* MARK: | textAlign
............................................................ */
$_h-textAlign: center, left, right, inherit !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_value in $_h-textAlign {
      .#{$_pre-h}textAlign-#{$_value}#{breakpointTrigger($_breakpoint)} {
        text-align: #{$_value} !important;
      }
    }
  }
}
/* MARK: | verticalAlign
............................................................ */
$_h-verticalAlign: (
  baseline: baseline,
  top: top,
  middle: middle,
  bottom: bottom,
  textTop: text-top,
  textBottom: text-bottom,
  super: super,
  sub: sub,
  inherit: inherit
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-verticalAlign {
      .#{$_pre-h}verticalAlign-#{$_key}#{breakpointTrigger($_breakpoint)} {
        vertical-align: #{map-deep-get($_h-verticalAlign, $_key)} !important;
      }
    }
  }
}
/* MARK: | fontSize
............................................................ */
$_h-fontSize: 'fontSize';
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}#{$_h-fontSize}-inherit#{breakpointTrigger($_breakpoint)} {
      font-size: inherit !important;
    }
  }
}
$_h-fontSize-property: (
  default: (
    default: $_fontSize-default
  ),
  small: (
    default: $_fontSize-small
  ),
  large: (
    default: $_fontSize-large
  ),
  up5: $_fontSize-set-up5,
  up4: $_fontSize-set-up4,
  up3: $_fontSize-set-up3,
  up2: $_fontSize-set-up2,
  up1: $_fontSize-set-up1,
  down1: $_fontSize-set-down1,
  down2: $_fontSize-set-down2,
  down3: $_fontSize-set-down3
) !default;
@each $_key, $_value in $_h-fontSize-property {
  .#{$_pre-h}#{$_h-fontSize}-#{$_key} {
    @each $_bp, $_v in $_value {
      @include _mq($_bp) {
        font-size: #{$_v} !important;
      }
    }
  }
}

// $_h-fontSize: (
//   default: $_fontSize-default,
//   small: $_fontSize-small,
//   large: $_fontSize-large,
//   up3: $_fontSize-up3,
//   up2: $_fontSize-up2,
//   up1: $_fontSize-up1,
//   down1: $_fontSize-down1,
//   down2: $_fontSize-down2,
//   down3: $_fontSize-down3,
//   inherit: inherit
// ) !default;
// @each $_breakpoint, $_breakpoint-value in $_breakpoints {
//   @include _mq($_breakpoint) {
//     @each $_key, $_value in $_h-fontSize {
//       .#{$_pre-h}fontSize-#{$_key}#{breakpointTrigger($_breakpoint)} {
//         font-size: #{map-deep-get($_h-fontSize, $_key)} !important;
//       }
//     }
//   }
// }
/* MARK: | lineHeight
............................................................ */
$_h-lineHeight: (
  default: $_lineHeight-default,
  small: $_lineHeight-small,
  large: $_lineHeight-large,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  inherit: inherit
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-lineHeight {
      .#{$_pre-h}lineHeight-#{$_key}#{breakpointTrigger($_breakpoint)} {
        line-height: #{map-deep-get($_h-lineHeight, $_key)} !important;
      }
    }
  }
}
/* MARK: | whiteSpace
............................................................ */
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-h}whiteSpace-normal#{breakpointTrigger($_breakpoint)} {
      white-space: normal !important;
    }
    .#{$_pre-h}whiteSpace-nowrap#{breakpointTrigger($_breakpoint)} {
      white-space: nowrap !important;
    }
  }
}
/* MARK: | textDecoration
............................................................ */
$_h-textDecoration: (
  none: none,
  underline: underline,
  overline: overline,
  lineThrough: line-through,
  inherit: inherit
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-textDecoration {
      .#{$_pre-h}textDecoration-#{$_key}#{breakpointTrigger($_breakpoint)} {
        text-decoration: #{map-deep-get($_h-textDecoration, $_key)} !important;
      }
    }
  }
}
/* MARK: | textIndent
............................................................ */
$_h-textIndent: 0, 1em, inherit !default;
$_h-textIndent-hanging: 1em !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_value in $_h-textIndent {
      .#{$_pre-h}textIndent-#{$_value}#{breakpointTrigger($_breakpoint)} {
        text-indent: #{$_value} !important;
      }
    }
    .#{$_pre-h}textIndent-hanging#{breakpointTrigger($_breakpoint)} {
      text-indent: -$_h-textIndent-hanging !important;
      padding-left: $_h-textIndent-hanging;
    }
  }
}
/* MARK: | letterSpacing
............................................................ */
$_h-letterSpacing: (
  normal: normal,
  0: 0,
  1px: 1px,
  2px: 2px,
  3px: 3px,
  4px: 4px,
  5px: 5px,
  minus1px: -1px,
  minus2px: -2px,
  minus3px: -3px,
  minus4px: -4px,
  minus5px: -5px,
  0point5em: 0.5em,
  1em: 1em,
  2em: 2em,
  3em: 3em,
  inherit: inherit
) !default;
@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    @each $_key, $_value in $_h-letterSpacing {
      .#{$_pre-h}letterSpacing-#{$_key}#{breakpointTrigger($_breakpoint)} {
        letter-spacing: #{map-deep-get($_h-letterSpacing, $_key)} !important;
      }
    }
  }
}