// Prefix
$_pre-c: '' !default; // components
$_pre-m: '' !default; // modifier
$_pre-h: '' !default; // helpers
// Class Name
$_writing: '.' + $_pre-c + 'writing' !default; // ドキュメントのラッパークラス名
$_override: '.' + $_pre-c + 'override' !default; // スタイルの無効化クラス名
// Block Elements
// $_blockElem: 'address, blockquote, canvas, div, dd, dl, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, nav, output, p, pre, section, table, ul, ol, video' !default;
$_blockElem: 'address, blockquote, canvas, div, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, p, pre, table, ul, ol, video' !default;
// Breakpoints
$_dtWidth: 1160px !default;
$_container-padding-mq: (
  default: 10px,
  375px: 15px,
  $_dtWidth: 20px
) !default;
$_dtWidth: 1160px !default;
$_dtMaxWidth: $_dtWidth + map-get($_container-padding-mq, $_dtWidth) * 2 !default; // 1200px
$_breakpoints: (
  default: 0,
  splg: 425px,
  tb: 600px,
  tblg: 800px,
  dt: $_dtMaxWidth
) !default;

// Colors
$_color-body-bg: #fff;
$_color-body-text: #000;
$_color-gray-text: #888;
$_color-gray-border: rgba(153, 153, 153, 0.6) !default;
$_color-gray-bg: rgba(153, 153, 153, 0.2) !default;


// Typography
$_fontSize-default: 1.6rem !default;
// $_fontSize-up3: 150% !default; // 2.2rem
// $_fontSize-up2: 125% !default; // 2.0rem
// $_fontSize-up1: 112.5% !default; // 1.8rem
// $_fontSize-down1: 87.5% !default; // 1.4rem
// $_fontSize-down2: 75% !default; // 1.2rem
// $_fontSize-down3: 62.5% !default; // 1.0rem
$_fontSize-small: 81.25% !default; // 1.3rem
$_fontSize-large: 125% !default; // 1.8rem

$_fontSize-set-up5: (
  default: 175%, // 2.8rem
  tb: 225%, // 3.6rem
) !default;
$_fontSize-set-up4: (
  default: 150%, // 2.4rem
  tb: 187.5% // 3.0rem
) !default;
$_fontSize-set-up3: (
  default: 137.5%, // 2.2rem
  tb: 162.5% // 2.6rem
) !default;
$_fontSize-set-up2: (
  default: 125%, // 2.0rem
  tb: 137.5% // 2.2rem
) !default;
$_fontSize-set-up1: (
  default: 112.5% // 1.8rem
) !default;
$_fontSize-set-down1: (
  default: 87.5% // 1.4rem
) !default;
$_fontSize-set-down2: (
  default: 75% // 1.2rem
) !default;
$_fontSize-set-down3: (
  default: 68.75% // 1.1rem
) !default;

$_lineHeight-default: 1.875 !default;
$_lineHeight-small: 1.4 !default;
$_lineHeight-large: $_lineHeight-default * 2 !default;
$_fontFamily-sansSerif: sans-serif !default;
$_fontFamily-serif: serif !default;
$_fontFamily: $_fontFamily-sansSerif !default;

// Gaps
$_blockElem-gap: 20px !default;
// $_blockElem-gap--dt: 20px !default;
// $_blockElem-gap-mq: (
//   default: $_blockElem-gap,
//   // dt: $_blockElem-gap--dt
// ) !default;

$_gap: 10px !default;
$_gap--splg: 20px !default;
$_gap--tb: 30px !default;
$_gap--tblg: 30px !default;
$_gap--dt: 40px !default;
$_gap-mq: (
  default: $_gap,
  splg: $_gap--splg,
  tb: $_gap--tb,
  tblg: $_gap--tblg,
  dt: $_gap--dt
) !default;

$_blockElem-gap-compact: $_fontSize-default / 2 !default;
$_blockElem-gap-compact-mq: (
  default: $_blockElem-gap-compact
) !default;
$_blockElem-gap-diffuse: $_gap--dt !default;

// others
$_borderRadius: 10px !default;