// MARK:// breakpointTrigger(map, keys...)
@function breakpointTrigger($_breakpoint) {
  $_mqIndicator: '';
  @if $_breakpoint != 'default' {
    $_mqIndicator: '--#{$_breakpoint}';
  }
  @return $_mqIndicator;
}
// MARK:// map-deep-get(map, keys...)
@function map-deep-get($_map, $_keys...) {
  @each $_key in $_keys {
    @if not map-has-key($_map, $_key) {
      @return null;
    }
    $_map: map-get($_map, $_key);
  }
  @return $_map;
}
// MARK:// map-deep-set(map, keys...)
@function map-deep-set($map, $keys...) {
  $map-list: ($map,);
  $result: null;

  @if length($keys) == 2 {
    @return map-merge($map, (nth($keys, 1): nth($keys, -1)));
  }

  @for $i from 1 through length($keys) - 2 {
    $map-list: append($map-list, map-get(nth($map-list, -1), nth($keys, $i)));
  }

  @for $i from length($map-list) through 1 {
    $result: map-merge(nth($map-list, $i), (nth($keys, $i): if($i == length($map-list), nth($keys, -1), $result)));
  }

  @return $result;
}