// MARK:// _blockElemGap([gap, direction])
$_blockElemGap-direction: 'bottom' !default; // ブロック要素のマージン付与の方向[top, bottom, both]
@mixin _blockElemGap($_gap: $_blockElem-gap, $_not-override: 'false', $_direction: $_blockElemGap-direction, $_important: 'false') {
  $_selector-not-override: '';
  @if $_not-override == 'true' {
    $_selector-not-override: ':not(#{$_override})';
  }
  $_property-important: '';
  @if $_important == 'true' {
    $_property-important: ' !important';
  }
  @if $_direction == 'both' or $_direction == 'top' {
    margin-top: #{$_gap}#{$_property-important};
    &:first-child {
      margin-top: 0;
    }
  }
  @if $_direction == 'both' or $_direction == 'bottom' {
    margin-bottom: #{$_gap}#{$_property-important};
    &:last-child {
      margin-bottom: 0;
    }
  }
}
// MARK:// _mq([min, max, media]) - Media Query
@mixin _mq($_min: null, $_max: null, $_media: null) {
  $_min-value: map-get($_breakpoints, $_min);
  $_max-value: map-get($_breakpoints, $_max);
  @if not $_min-value {
    $_min-value: $_min;
  }
  @if not $_max-value {
    $_max-value: $_max;
  } @else {
    $_max-value: $_max-value - 1px;
  }
  @if $_min == 'default' and $_max == null {
    // each default
    @content;
  } @else if $_min and $_max {
    // between min and max
    @if $_media {
      @media #{$_media} and (min-width: $_min-value) and (max-width: $_max-value) {
        @content;
      }
    } @else {
      @media (min-width: $_min-value) and (max-width: $_max-value) {
        @content;
      }
    }
  } @else if $_max {
    // only max
    @if $_media {
      @media #{$_media} and (max-width: $_max-value) {
        @content;
      }
    } @else {
      @media (max-width: $_max-value) {
        @content;
      }
    }
  } @else if $_min {
    // only min
    @if $_media {
      @media #{$_media} and (min-width: $_min-value) {
        @content;
      }
    } @else {
      @media (min-width: $_min-value) {
        @content;
      }
    }
  } @else if $_media {
    // only media-type
    @media #{$_media} {
      @content;
    }
  }
}
// MARK:// _valueWithBp(property, valueSet, [isImportant])
// e.g.
// $_valueSetWithBp: (
//   default: 100%,
//   tb: 125%,
// );
// #eg {
//   @include _valueWithBp('font-size', _valueSetWithBp, true);
// }
@mixin _valueWithBp($prop, $valueSetWithBp, $isImportant: false) {
  $important: '';
  @if $isImportant {
    $important: ' !important';
  }
  @each $bp, $value in $valueSetWithBp {
    @include _mq($bp) {
      #{$prop}: #{$value}#{$important};
    }
  }
}

// MARK:// _clearfix([isBefore, isAfter:true])
@mixin _clearfix($isBefore: false, $isAfter: true) {
  @if $isBefore {
    &::before {
      content: "";
      clear: both;
      display: table;
    }
  }
  @if $isAfter {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}