$_componentName-box: 'box' !default;
$_box-gap: (
  default: (x: $_blockElem-gap, y: $_blockElem-gap)
) !default;
$_box-compact-gap: (
  default: (x: 5px, y: 5px)
) !default;
// box
@mixin _component-box($componentName: $_componentName-box, $gap: $_box-gap) {
  @each $_breakpoint, $_breakpoint-value in $_breakpoints {
    .#{$_pre-c}#{$componentName}#{breakpointTrigger($_breakpoint)} {
      // @extend %_blockElem;
      @include _mq($_breakpoint) {
        @content;
        @each $_breakpoint, $_value in $gap {
          @include _mq($_breakpoint) {
            padding: #{map-deep-get($gap, $_breakpoint, 'x')} #{map-deep-get($gap, $_breakpoint, 'y')};
          }
        }
      }
    }
  }
}
// box-compact
@mixin _modifier-box-compact($componentName: $_componentName-box, $gap: $_box-compact-gap) {
  @each $_breakpoint, $_breakpoint-value in $_breakpoints {
    @include _mq($_breakpoint) {
      .#{$_pre-m}#{$componentName}-compact#{breakpointTrigger($_breakpoint)} {
        @each $_breakpoint, $_value in $gap {
          @include _mq($_breakpoint) {
            padding: #{map-deep-get($gap, $_breakpoint, 'x')} #{map-deep-get($gap, $_breakpoint, 'y')};
          }
        }
      }
    }
  }
}
// @each $_breakpoint, $_breakpoint-value in $_breakpoints {
//   @include _mq($_breakpoint) {
//     .#{$_pre-c}box#{breakpointTrigger($_breakpoint)} {
//       // @extend %_box;
//       border: 1px solid #aaa;
//       @each $_breakpoint, $_value in $_box-gap {
//         @include _mq($_breakpoint) {
//           padding: #{map-deep-get($_box-gap, $_breakpoint, 'x')} #{map-deep-get($_box-gap, $_breakpoint, 'y')};
//         }
//       }
//     }
//   }
//   @include _mq($_breakpoint) {
//     .#{$_pre-m}box-compact#{breakpointTrigger($_breakpoint)} {
//       @each $_breakpoint, $_value in $_box-compact-gap {
//         @include _mq($_breakpoint) {
//           padding: #{map-deep-get($_box-compact-gap, $_breakpoint, 'x')} #{map-deep-get($_box-compact-gap, $_breakpoint, 'y')};
//         }
//       }
//     }
//   }
// }