$_componentName-col: 'col' !default;
// .col
@mixin _component-col($componentName: $_componentName-col) {
  @each $_breakpoint, $_breakpoint-value in $_breakpoints {
    @include _mq($_breakpoint) {
      .#{$_pre-c}#{$componentName}#{breakpointTrigger($_breakpoint)},
      .#{$_pre-m}#{$componentName}-flex#{breakpointTrigger($_breakpoint)}, {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        @content;
      }
    }
  }
}
// .col-inlineBlock
@mixin _modifier-col-inlineBlock($componentName: $_componentName-col) {
  @each $_breakpoint, $_breakpoint-value in $_breakpoints {
    @include _mq($_breakpoint) {
      .#{$_pre-m}#{$componentName}-inlineBlock#{breakpointTrigger($_breakpoint)} {
        font-size: 0;
        word-break: break-all;
        @content;
        > * {
          display: inline-block;
          vertical-align: top;
          font-size: $_fontSize-default;
        }
      }
    }
  }
}
// .col-float
@mixin _modifier-col-float($componentName: $_componentName-col) {
  @each $_breakpoint, $_breakpoint-value in $_breakpoints {
    @include _mq($_breakpoint) {
      .#{$_pre-m}#{$componentName}-float#{breakpointTrigger($_breakpoint)} {
        word-break: break-all;
        @content;
        @include _clearfix();
        > * {
          float: left;
        }
      }
    }
  }
}