$_flexGrid: flexGrid !default;
$_flexGrid-gap: (
  default: (x: $_gap, y: $_blockElem-gap),
  splg:    (x: $_gap--splg, y: $_blockElem-gap),
  tb:      (x: $_gap--tb, y: $_blockElem-gap),
  tblg:    (x: $_gap--tblg, y: $_blockElem-gap),
  dt:      (x: $_gap--dt, y: $_blockElem-gap)
) !default;
$_flexGrid-compact-gap: (
  default: (x: $_gap, y: $_blockElem-gap-compact)
) !default;
// $_flexGrid-tile-gap: (
//   default: (x: $_gap, y: $_gap),
//   splg:    (x: $_gap--splg, y: $_gap--splg),
//   tb:      (x: $_gap--tb, y: $_gap--tb),
//   tblg:    (x: $_gap--tblg, y: $_gap--tblg),
//   dt:      (x: $_gap--dt, y: $_gap--dt)
// ) !default;
// $_flexGrid-compactTile-gap: (
//   default: (x: $_blockElem-gap-compact, y: $_blockElem-gap-compact),
//   splg:    (x: $_gap, y: $_gap),
//   tb:      (x: $_gap, y: $_gap),
//   tblg:    (x: $_gap--splg, y: $_gap--splg),
//   dt:      (x: $_gap--splg, y: $_gap--splg)
// ) !default;

@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-c}#{$_flexGrid}#{breakpointTrigger($_breakpoint)} {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      > * {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 100%;
      }
      > * {
        box-shadow: inset 0 0 0 1px #ddd;
        > * {
          background-color: rgba($color: #0000c0, $alpha: 0.1);
        }
      }
      #{$_writing} & {
        // &:not(.#{$_flexGrid}-gapless):not(.#{$_flexGrid}-compact):not(.#{$_flexGrid}-tile):not(.#{$_flexGrid}-compactTile) {
        &:not(.#{$_flexGrid}-gapless):not(.#{$_flexGrid}-compact) {
          margin-bottom: 0;
        }
        > * {
          margin: 0;
        }
      }
      &:last-child,
      #{$_writing} &:last-child {
        // &:not(.#{$_flexGrid}-gapless):not(.#{$_flexGrid}-compact):not(.#{$_flexGrid}-tile):not(.#{$_flexGrid}-compactTile) {
        &:not(.#{$_flexGrid}-gapless):not(.#{$_flexGrid}-compact) {
          margin-bottom: -$_blockElem-gap;
        }
      }
      // margin-bottom: 0 !important;
      @each $_breakpoint, $_value in $_flexGrid-gap {
        @include _mq($_breakpoint) {
          margin-left: -(map-deep-get($_flexGrid-gap, $_breakpoint, 'x') / 2);
          margin-right: -(map-deep-get($_flexGrid-gap, $_breakpoint, 'x') / 2);
          > * {
            // 上下のスペース
            padding-bottom: map-deep-get($_flexGrid-gap, $_breakpoint, 'y');
            // 左右のスペース
            padding-left: map-deep-get($_flexGrid-gap, $_breakpoint, 'x') / 2;
            padding-right: map-deep-get($_flexGrid-gap, $_breakpoint, 'x') / 2;
          }
        }
      }
    }
  }
  // flexGrid-gapless
  @include _mq($_breakpoint) {
    // 上下のスペース
    .#{$_pre-m}#{$_flexGrid}-gapless#{breakpointTrigger($_breakpoint)},
    .#{$_pre-m}#{$_flexGrid}-gapless-y#{breakpointTrigger($_breakpoint)} {
      > * {
        padding-bottom: 0;
      }
    }
    // 左右のスペース
    .#{$_pre-m}#{$_flexGrid}-gapless#{breakpointTrigger($_breakpoint)},
    .#{$_pre-m}#{$_flexGrid}-gapless-x#{breakpointTrigger($_breakpoint)} {
      margin-left: 0;
      margin-right: 0;
      > * {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  // flexGrid-compact
  @include _mq($_breakpoint) {
    @each $_breakpoint-compact, $_value in $_flexGrid-compact-gap {
      @include _mq($_breakpoint-compact) {
        // 上下のスペース
        .#{$_pre-m}#{$_flexGrid}-compact#{breakpointTrigger($_breakpoint)},
        .#{$_pre-m}#{$_flexGrid}-compact-y#{breakpointTrigger($_breakpoint)} {
          &,
          #{$_writing} &,
          #{$_writing} &:last-child {
            margin-bottom: -(map-deep-get($_flexGrid-compact-gap, $_breakpoint-compact, 'y'));
          }
          #{$_writing} & + * {
            margin-top: $_blockElem-gap;
          }
          > * {
            padding-bottom: map-deep-get($_flexGrid-compact-gap, $_breakpoint-compact, 'y');
          }
        }
        // 左右のスペース
        .#{$_pre-m}#{$_flexGrid}-compact#{breakpointTrigger($_breakpoint)},
        .#{$_pre-m}#{$_flexGrid}-compact-x#{breakpointTrigger($_breakpoint)} {
          margin-left: -(map-deep-get($_flexGrid-compact-gap, $_breakpoint-compact, 'x') / 2);
          margin-right: -(map-deep-get($_flexGrid-compact-gap, $_breakpoint-compact, 'x') / 2);
          > * {
            padding-left: map-deep-get($_flexGrid-compact-gap, $_breakpoint-compact, 'x') / 2;
            padding-right: map-deep-get($_flexGrid-compact-gap, $_breakpoint-compact, 'x') / 2;
          }
        }
      }
    }
  }
  // flexGrid-tile
  // @include _mq($_breakpoint) {
  //   @each $_breakpoint-tile, $_value in $_flexGrid-tile-gap {
  //     @include _mq($_breakpoint-tile) {
  //       // 上下のスペース
  //       .#{$_pre-m}#{$_flexGrid}-tile#{breakpointTrigger($_breakpoint)} {
  //         // margin-bottom: -(map-deep-get($_flexGrid-tile-gap, $_breakpoint-tile, 'y')) !important;
  //         &,
  //         #{$_writing} &,
  //         #{$_writing} &:last-child {
  //           margin-bottom: -(map-deep-get($_flexGrid-tile-gap, $_breakpoint-tile, 'y'));
  //         }
  //         #{$_writing} & + * {
  //           margin-top: $_blockElem-gap;
  //         }
  //         > * {
  //           padding-bottom: map-deep-get($_flexGrid-tile-gap, $_breakpoint-tile, 'y');
  //         }
  //       }
  //       // 左右のスペース
  //       .#{$_pre-m}#{$_flexGrid}-tile#{breakpointTrigger($_breakpoint)} {
  //         margin-left: -(map-deep-get($_flexGrid-tile-gap, $_breakpoint-tile, 'x') / 2);
  //         margin-right: -(map-deep-get($_flexGrid-tile-gap, $_breakpoint-tile, 'x') / 2);
  //         > * {
  //           padding-left: map-deep-get($_flexGrid-tile-gap, $_breakpoint-tile, 'x') / 2;
  //           padding-right: map-deep-get($_flexGrid-tile-gap, $_breakpoint-tile, 'x') / 2;
  //         }
  //       }
  //     }
  //   }
  // }
  // flexGrid-compactTile
  // @include _mq($_breakpoint) {
  //   @each $_breakpoint-compactTile, $_value in $_flexGrid-compactTile-gap {
  //     @include _mq($_breakpoint-compactTile) {
  //       // 上下のスペース
  //       .#{$_pre-m}#{$_flexGrid}-compactTile#{breakpointTrigger($_breakpoint)} {
  //         // margin-bottom: -(map-deep-get($_flexGrid-tile-gap, $_breakpoint-tile, 'y')) !important;
  //         &,
  //         #{$_writing} &,
  //         #{$_writing} &:last-child {
  //           margin-bottom: -(map-deep-get($_flexGrid-compactTile-gap, $_breakpoint-compactTile, 'y'));
  //         }
  //         #{$_writing} & + * {
  //           margin-top: $_blockElem-gap;
  //         }
  //         > * {
  //           padding-bottom: map-deep-get($_flexGrid-compactTile-gap, $_breakpoint-compactTile, 'y');
  //         }
  //       }
  //       // 左右のスペース
  //       .#{$_pre-m}#{$_flexGrid}-compactTile#{breakpointTrigger($_breakpoint)} {
  //         margin-left: -(map-deep-get($_flexGrid-compactTile-gap, $_breakpoint-compactTile, 'x') / 2);
  //         margin-right: -(map-deep-get($_flexGrid-compactTile-gap, $_breakpoint-compactTile, 'x') / 2);
  //         > * {
  //           padding-left: map-deep-get($_flexGrid-compactTile-gap, $_breakpoint-compactTile, 'x') / 2;
  //           padding-right: map-deep-get($_flexGrid-compactTile-gap, $_breakpoint-compactTile, 'x') / 2;
  //         }
  //       }
  //     }
  //   }
  // }
}