// container
$_componentName-formContents: 'formContents' !default;
%_formContents_header {
  font-weight: bold;
  // margin-bottom: 0.8rem;
}
%_formContents_body {
  @include _blockElemGap();
}
.formText {
  display: inline-block;
  padding: .7rem 0;
  height: 3.8rem;
  line-height: 1.5;
}
.formContents {
  #{&}_header {
    @extend %_formContents_header;
  }
  #{&}_body {
    @extend %_formContents_body;
  }
  %_input-text,
  %_input-search,
  %_input-tel,
  %_input-url,
  %_input-email,
  %_input-number,
  %_input-password,
  %_input-date,
  %_input-datetime,
  %_input-datetime-local,
  %_input-time,
  %_input-week,
  %_input-month,
  %_input-file,
  %_input-range,
  %_textarea,
  %_select {
    width: 100%;
  }
}
.formGroup {
  display: inline-block;
}