// container
@mixin _container($fluid: false) {
  @each $_key, $_value in $_container-padding-mq {
    @include _mq($_key) {
      margin: 0 auto;
      padding-left: $_value;
      padding-right: $_value;
      @if not $fluid {
        max-width: $_dtWidth + $_value * 2;
      }
    }
  }
}
$_componentName-container: 'container' !default;
@mixin _component-container($componentName: $_componentName-container) {
  .#{$_pre-c}#{$componentName} {
    @include _container(true);
    @content;
  }
}
// container-fluid
@mixin _component-container-fluid($componentName: $_componentName-container) {
  .#{$_pre-c}#{$componentName}:not(.#{$_pre-m}#{$componentName}-fluid) {
    max-width: $_dtMaxWidth;
  }
}
// .columnContainer
@mixin _columnContainer() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: stretch;
  align-content: flex-start;
}
$_componentName-columnContainer: 'columnContainer' !default;
$_columnContainer-threshold: 'dt' !default;
@mixin _component-columnContainer($componentName: $_componentName-columnContainer, $threshold: $_columnContainer-threshold) {
  .#{$_pre-c}#{$componentName} {
    @include _mq($_max: $threshold) {
      > * {
        @include _container(true);
      }
    }
    @include _mq($threshold) {
      @include _container(true);
      @include _columnContainer();
      > * {
        -ms-flex-negative: 1; /* IE10 */
      }
    }
  }
}
// columnContainer-fluid
@mixin _component-columnContainer-fluid($componentName: $_componentName-columnContainer) {
  .#{$_pre-c}#{$componentName}:not(.#{$_pre-m}#{$componentName}-fluid) {
    max-width: $_dtMaxWidth;
  }
}