/* MARK:| ratio
............................................................ */
$_ratios: (
  '16to9': percentage(9/16),
  '9to16': percentage(16/9),
  '7to3': percentage(3/7),
  '3to7': percentage(7/3),
  '4to3': percentage(3/4),
  '3to4': percentage(4/3),
  '3to2': percentage(2/3),
  '2to3': percentage(3/2),
  '1to1': percentage(1/1)
) !default;
$_ratio-default: map-get($_ratios, '16to9') !default;

@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-c}ratio#{breakpointTrigger($_breakpoint)} {
      position: relative;
      height: 0;
      overflow: hidden;
      padding-bottom: $_ratio-default;
      > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    @each $_ratio, $_ratio-value in $_ratios {
      .#{$_pre-c}ratio-#{$_ratio}#{breakpointTrigger($_breakpoint)} {
        padding-bottom: map-get($_ratios, $_ratio);
      }
    }
  }
}