$_componentName-scrollBox: 'scrollBox' !default;
$_scrollBox_message-x: '' !default;
$_scrollBox-style: (
  font-size: 1.2rem,
  color: #fff,
  background: url(../images/theme/scrollBox-arrow.svg) center center no-repeat rgba($color: #666, $alpha: .9),
  background-size: 5px 9px,
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35)
) !default;
// box

.#{$_pre-c}#{$_componentName-scrollBox} {
  display: block;
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::after {
    content: '';
    display: none;
  }
  &.#{$_pre-m}#{$_componentName-scrollBox}-ready {
    &::after {
      content: $_scrollBox_message-x;
      display: block;
      position: absolute;
      // bottom: 5px;
      // left: 50%;
      // margin-left: -100px;
      top: 50%;
      right: 5px;
      margin-top: -10px;
      border-radius: 10px;
      // width: 16em;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: map-get($_scrollBox-style, font-size);
      color: map-get($_scrollBox-style, color);
      background: map-get($_scrollBox-style, background);
      background-size: map-get($_scrollBox-style, background-size);
      box-shadow: map-get($_scrollBox-style, box-shadow);
      pointer-events: none;
    }
  }
}
