$_tableGrid-gap: (
  default: (x: $_blockElem-gap, y: $_blockElem-gap)
) !default;
$_tableGrid-compact-gap: (
  default: (x: $_blockElem-gap-compact, y: $_blockElem-gap-compact)
) !default;

@each $_breakpoint, $_breakpoint-value in $_breakpoints {
  @include _mq($_breakpoint) {
    .#{$_pre-c}tableGrid#{breakpointTrigger($_breakpoint)} {
      display: table;
      border-collapse: collapse;
      word-break: break-all;
      @include _blockElemGap();
      > * {
        display: table-row;
        > * {
          display: table-cell;
          vertical-align: top;
          @include _blockElemGap();
        }
      }
      & {
        @each $_breakpoint, $_value in $_tableGrid-gap {
          @include _mq($_breakpoint) {
            // 上下のスペース
            > *:not(:last-child) > * {
              padding-bottom: map-deep-get($_tableGrid-gap, $_breakpoint, 'y');
            }
            // 左右のスペース
            > * > *:not(:first-child) {
              padding-left: map-deep-get($_tableGrid-gap, $_breakpoint, 'x');
            }
          }
        }
      }
    }
  }
  // tableGrid-compact
  @include _mq($_breakpoint) {
    .#{$_pre-m}tableGrid-compact#{breakpointTrigger($_breakpoint)},
    .#{$_pre-m}tableGrid-compact-y#{breakpointTrigger($_breakpoint)} {
      @each $_breakpoint, $_value in $_tableGrid-compact-gap {
        @include _mq($_breakpoint) {
          // 上下のスペース
          > *:not(:last-child) > * {
            padding-bottom: map-deep-get($_tableGrid-compact-gap, $_breakpoint, 'y');
          }
        }
      }
    }
    .#{$_pre-m}tableGrid-compact#{breakpointTrigger($_breakpoint)},
    .#{$_pre-m}tableGrid-compact-x#{breakpointTrigger($_breakpoint)} {
      @each $_breakpoint, $_value in $_tableGrid-compact-gap {
        @include _mq($_breakpoint) {
          > * > *:not(:first-child) {
            // 左右のスペース
            padding-left: map-deep-get($_tableGrid-compact-gap, $_breakpoint, 'x');
          }
        }
      }
    }
  }
  // tableGrid-gapless
  @include _mq($_breakpoint) {
    .#{$_pre-m}tableGrid-gapless#{breakpointTrigger($_breakpoint)},
    .#{$_pre-m}tableGrid-gapless-y#{breakpointTrigger($_breakpoint)} {
      > *:not(:last-child) > * {
        // 上下のスペース
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .#{$_pre-m}tableGrid-gapless#{breakpointTrigger($_breakpoint)},
    .#{$_pre-m}tableGrid-gapless-x#{breakpointTrigger($_breakpoint)} {
      > * > *:not(:first-child) {
        // 左右のスペース
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}