{#-/* MARK:| test
............................................................ -#}
{%- macro test() -%}
  {%- set array = ['eat', 'drink', 'sleep'] -%}
  {{ array | join(', ') }}
{%- endmacro -%}

{#-/* MARK:| compareTextReturnStr
............................................................ -#}
{%- macro compareTextReturnStr(strA, strB, returnStr) -%}
  {%- if strA === strB -%}
  {{- returnStr -}}
  {%- endif -%}
{%- endmacro -%}

{#-/* MARK:| createDocumentTitle
............................................................ -#}
{%- macro createDocumentTitle(document, group, site) -%}
  {%- set _documentTitle = [] -%}
  {%- if document.titleSetting.uniqueTitle -%}
    {%- set _documentTitle = (_documentTitle.push(document.titleSetting.uniqueTitle), _documentTitle) -%}
  {%- endif -%}
  {%- if document.titleSetting.document and document.name -%}
    {%- set _documentTitle = (_documentTitle.push(document.name), _documentTitle) -%}
  {%- endif -%}
  {%- if document.titleSetting.group and group.name -%}
   {%- set _documentTitle = (_documentTitle.push(group.name), _documentTitle) -%}
  {%- endif -%}
  {%- if document.titleSetting.site and site.name -%}
   {%- set _documentTitle = (_documentTitle.push(site.name), _documentTitle) -%}
  {%- endif -%}
  {{ _documentTitle | join(site.titleSeparator) }}
{%- endmacro -%}

{#-/* MARK:| createMetaOg
............................................................ -#}
{%- macro createMetaOg(document, group, site) -%}
  {#- title -#}
  {%- if document.og.title %}
  <meta property="og:title" content="{{document.og.title}}">
  {%- else %}
  <meta property="og:title" content="{{createDocumentTitle(document, group, site)}}">
  {%- endif %}
  {#- type -#}
  {%- if document.og.type %}
  <meta property="og:type" content="{{document.og.type}}">
  {%- else %}
  <meta property="og:type" content="{{site.og.defaultType}}">
  {%- endif %}
  {#- url -#}
  {%- if document.url %}
  <meta property="og:url" content="{{site.url}}{{document.url}}">
  {%- endif %}
  {#- image -#}
  {%- if document.og.imagePath %}
  <meta property="og:image" content="{{site.url}}{{document.og.imagePath}}">
  {%- elif site.og.defaultImagePath %}
  <meta property="og:image" content="{{site.url}}{{site.og.defaultImagePath}}">
  {%- endif %}
  {#- site_name -#}
  {%- if document.og.siteName %}
  <meta property="og:site_name" content="{{document.og.siteName}}">
  {%- elif site.og.defaultSiteName %}
  <meta property="og:site_name" content="{{site.og.defaultSiteName}}">
  {%- else %}
  <meta property="og:site_name" content="{{site.name}}">
  {%- endif %}
  {#- description -#}
  {%- if document.og.description %}
  <meta property="og:description" content="{{document.og.description}}">
  {%- elif document.description %}
  <meta property="og:description" content="{{document.description}}">
  {%- elif site.og.defaultDescription %}
  <meta property="og:description" content="{{site.og.defaultDescription}}">
  {%- endif %}
  {#- fb:app_id -#}
  {%- if site.og.fb_appId %}
  <meta property="fb:app_id" content="{{site.og.fb_appId}}">
  {%- endif %}
  {#- twitter:card -#}
  {%- if document.og.tw_card %}
  <meta property="twitter:card" content="{{document.og.tw_card}}">
  {%- elif site.og.tw_defaultCard %}
  <meta property="twitter:card" content="{{site.og.tw_defaultCard}}">
  {%- endif %}
  {#- twitter:site -#}
  {%- if site.og.tw_site %}
  <meta property="twitter:site" content="{{site.og.tw_site}}">
  {%- endif %}
{%- endmacro -%}

{#-/* MARK:| createMetaIcons
............................................................ -#}
{%- macro createMetaIcons(site) -%}
  {#- apple-mobile-web-app-title -#}
  {%- if site.icons.appIconTitle %}
  <meta name="apple-mobile-web-app-title" content="{{site.icons.appIconTitle}}">
  {%- endif %}
  {#- apple-touch-icon -#}
  {%- if site.icons.appIconPath %}
  <link rel="apple-touch-icon" href="{{site.url}}{{site.icons.appIconPath}}" sizes="{{site.icons.appIconSizes}}">
  {%- endif %}
  {#- favicon -#}
  {%- if site.icons.faviconPath %}
  <link rel="icon" type="image/x-icon" href="{{site.url}}{{site.icons.faviconPath}}">
  {%- endif %}
{%- endmacro -%}

{#-/* MARK:| createCopyrightYear
............................................................ -#}
{%- macro createCopyrightYear(site) -%}
  {{- site.publishedYear -}}
  <script>if(new Date().getFullYear()>{{site.publishedYear}}) document.write('-'+new Date().getFullYear());</script>
{%- endmacro -%}