html {
  font-size: 62.5%;
}
body {
  font-family: $_fontFamily;
  font-size: $_fontSize-default;
  line-height: $_lineHeight-default;
  overflow-wrap: break-word;
  @extend %_body;
}
#{$_blockElem} {
  margin: 0;
}
img {
  max-width: 100%;
}
.hr,
#{$_writing} hr:not(#{$_override}) {
  @extend %_hr;
}
// blockElem
%_blockElem {
  @include _blockElemGap;
  // margin-top: 0;
  // margin-bottom: 20px;
  // &:last-child {
  //   margin-bottom: 0;
  // }
}
.#{$_pre-c}blockElem {
  @extend %_blockElem;
}
// writing
#{$_writing} {
  @include _clearfix;
  #{$_blockElem} {
    @extend %_blockElem;
  }
}

