input:not([type=radio]):not([type=checkbox]):not([type=file]):not([type=range]), textarea, button {
  -webkit-appearance: none;
  appearance: none;
}
input[type=date], input[type=datetime], input[type=datetime-local], input[type=time], input[type=week] {
  -webkit-appearance: button;
  appearance: button;
}
input[type=submit]:not([disabled]), input[type=button]:not([disabled]), input[type=reset]:not([disabled]), input[type=file]:not([disabled]), input[type=range]:not([disabled]), button:not([disabled]) {
  cursor: pointer;
}

#{$_writing} input[type=text]:not(#{$_override}) {
  @extend %_input-text;
}
#{$_writing} input[type=search]:not(#{$_override}) {
  @extend %_input-search;
}
#{$_writing} input[type=tel]:not(#{$_override}) {
  @extend %_input-tel;
}
#{$_writing} input[type=url]:not(#{$_override}) {
  @extend %_input-url;
}
#{$_writing} input[type=email]:not(#{$_override}) {
  @extend %_input-email;
}
#{$_writing} input[type=number]:not(#{$_override}) {
  @extend %_input-number;
}
#{$_writing} input[type=password]:not(#{$_override}) {
  @extend %_input-password;
}
#{$_writing} input[type=date]:not(#{$_override}) {
  @extend %_input-date;
}
#{$_writing} input[type=datetime]:not(#{$_override}) {
  @extend %_input-datetime;
}
#{$_writing} input[type=datetime-local]:not(#{$_override}) {
  @extend %_input-datetime-local;
}
#{$_writing} input[type=time]:not(#{$_override}) {
  @extend %_input-time;
}
#{$_writing} input[type=week]:not(#{$_override}) {
  @extend %_input-week;
}
#{$_writing} input[type=month]:not(#{$_override}) {
  @extend %_input-month;
}
#{$_writing} input[type=radio]:not(#{$_override}) {
  @extend %_input-radio;
}
#{$_writing} input[type=checkbox]:not(#{$_override}) {
  @extend %_input-checkbox;
}
#{$_writing} input[type=color]:not(#{$_override}) {
  @extend %_input-color;
}
#{$_writing} input[type=file]:not(#{$_override}) {
  @extend %_input-file;
}
#{$_writing} input[type=range]:not(#{$_override}) {
  @extend %_input-range;
}
#{$_writing} input[type=submit]:not(#{$_override}) {
  @extend %_input-submit;
}
#{$_writing} input[type=button]:not(#{$_override}) {
  @extend %_input-button;
}
#{$_writing} input[type=reset]:not(#{$_override}) {
  @extend %_input-reset;
}
#{$_writing} button:not(#{$_override}) {
  @extend %_button;
}
#{$_writing} textarea:not(#{$_override}) {
  @extend %_textarea;
}
#{$_writing} select:not(#{$_override}) {
  @extend %_select;
}

.#{$_pre-m}formControl-readonly,
#{$_writing} input[readonly]:not(#{$_override}) {
  @extend %_formControl-readonly;
}
.#{$_pre-m}formControl-disabled,
#{$_writing} *[disabled]:not([type=checkbox]):not([type=radio]):not(#{$_override}) {
  @extend %_formControl-disabled;
}
.#{$_pre-m}text-readonly {
  @extend %_text-readonly;
}
.#{$_pre-m}text-disabled {
  @extend %_text-disabled;
}