// ul, ol
ul, ol {
  padding: 0;
  list-style: none;
}
$_list-indent: 40px !default;
$_list-gap: $_blockElem-gap-compact !default;
$_list-children-gap: $_list-gap !default;
.li,
#{$_writing} li:not(#{$_override}) {
  @extend %_li;
}
.ul,
#{$_writing} ul:not(#{$_override}) {
  @extend %_ul;
}
.ol,
#{$_writing} ol:not(#{$_override}) {
  @extend %_ol;
}

// dl
dd {
  margin-left: 0;
}
$_dl-padding: 0.157em 0.5em !default;
.dl:not(.dl-simple),
#{$_writing} dl:not(#{$_override}):not(.dl-simple) {
  @extend %_dl;
}
.dl:not(.dl-simple) .dt,
#{$_writing} dl:not(.dl-simple) dt:not(#{$_override}):not(.dl-simple) {
  @extend %_dt;
}
.dl:not(.dl-simple) .dd,
#{$_writing} dl:not(.dl-simple) dd:not(#{$_override}) {
  @extend %_dd;
}
// dl-simple
.dl.dl-simple,
#{$_writing} dl.dl-simple:not(#{$_override}) {
  @extend %_dl-simple;
}
.dl.dl-simple .dt,
#{$_writing} dl.dl-simple dt:not(#{$_override}) {
  @extend %_dt-simple;
}
.dl.dl-simple .dd,
#{$_writing} dl.dl-simple dd:not(#{$_override}) {
  @extend %_dd-simple;
}