$_table-gap: (
  default: 4px 8px
) !default;
$_table-compact-gap: (
  default: 1px 3px
) !default;
$_table-simple-gap: (
  default: (x: $_gap--splg, y: $_blockElem-gap)
) !default;
$_table-simple-compact-gap: (
  default: (x: $_fontSize-default, y: $_blockElem-gap-compact)
) !default;

table {
  word-break: break-all;
}
th, td {
  padding: 0;
  font-weight: normal;
}
.table {
  display: table;
  border-collapse: collapse;
  word-break: break-all;
  .tr {
    display: table-row;
  }
  .th, .td {
    display: table-cell;
  }
}

.table,
#{$_writing} table:not(#{$_override}):not(.table-simple) {
  @extend %_table;
  .tr,
  tr:not(#{$_override}) {
    @extend %_tr;
  }
  .th,
  th:not(#{$_override}) {
    @extend %_th;
    > *:last-child {
      margin-bottom: 0;
    }
  }
  .td,
  td:not(#{$_override}) {
    @extend %_td;
    > *:last-child {
      margin-bottom: 0;
    }
  }
  .caption,
  caption:not(#{$_override}) {
    @extend %_caption;
  }
  @each $_breakpoint, $_value in $_table-gap {
    @include _mq($_breakpoint) {
      .th, th:not(#{$_override}),
      .td, td:not(#{$_override}) {
        padding: map-get($_table-gap, $_breakpoint);
      }
    }
  }
}
// .table-compact
@each $_breakpoint, $_value in $_table-compact-gap {
  .table.table-compact:not(.table-simple),
  #{$_writing} table.table-compact:not(#{$_override}):not(.table-simple) {
    @include _mq($_breakpoint) {
      .th, th,
      .td, td {
        padding: map-get($_table-compact-gap, $_breakpoint);
      }
    }
  }
}
// .table-simple
@each $_breakpoint, $_value in $_table-simple-gap {
  .table.table-simple:not(.table-compact),
  #{$_writing} table.table-simple:not(#{$_override}):not(.table-compact) {
    @include _mq($_breakpoint) {
      // margin-left: -(map-deep-get($_table-simple-gap, $_breakpoint, 'x') / 2);
      // margin-right: -(map-deep-get($_table-simple-gap, $_breakpoint, 'x') / 2);
      // 上下のスペース
      .tr:not(:last-child), tr:not(:last-child) {
        .th, th,
        .td, td {
          padding-bottom: map-deep-get($_table-simple-gap, $_breakpoint, 'y');
        }
      }
      // 左右のスペース
      .th, th,
      .td, td {
        &:not(:first-child) {
          padding-left: map-deep-get($_table-simple-gap, $_breakpoint, 'x');
        }
      }
    }
  }
}
.table.table-simple,
#{$_writing} table.table-simple:not(#{$_override}) {
  @extend %_table-simple;
  .tr, tr:not(#{$_override}) {
    @extend %_tr-simple;
  }
  .th, th:not(#{$_override}) {
    @extend %_th-simple;
  }
  .td, td:not(#{$_override}) {
    @extend %_td-simple;
  }
  .caption, caption:not(#{$_override}) {
    @extend %_caption-simple;
  }
}
// .table-simple & .table-compact
@each $_breakpoint, $_value in $_table-simple-compact-gap {
  .table.table-simple.table-compact,
  #{$_writing} table.table-simple.table-compact:not(#{$_override}) {
    @include _mq($_breakpoint) {
      // margin-left: -(map-deep-get($_table-simple-compact-gap, $_breakpoint, 'x') / 2);
      // margin-right: -(map-deep-get($_table-simple-compact-gap, $_breakpoint, 'x') / 2);
      // 上下のスペース
      .tr:not(:last-child), tr:not(:last-child) {
        .th, th,
        .td, td {
          padding-bottom: map-deep-get($_table-simple-compact-gap, $_breakpoint, 'y');
        }
      }
      // 左右のスペース
      .th, th,
      .td, td {
        &:not(:first-child) {
          padding-left: map-deep-get($_table-simple-compact-gap, $_breakpoint, 'x');
        }
        // padding-left: map-deep-get($_table-simple-compact-gap, $_breakpoint, 'x') / 2;
        // padding-right: map-deep-get($_table-simple-compact-gap, $_breakpoint, 'x') / 2;
      }
    }
  }
}