// Headings
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}
.h1,
#{$_writing} h1:not(#{$_override}) {
  @extend %_h1;
}
.h2,
#{$_writing} h2:not(#{$_override}) {
  @extend %_h2;
}
.h3,
#{$_writing} h3:not(#{$_override}) {
  @extend %_h3;
}
.h4,
#{$_writing} h4:not(#{$_override}) {
  @extend %_h4;
}
.h5,
#{$_writing} h5:not(#{$_override}) {
  @extend %_h5;
}
.h6,
#{$_writing} h6:not(#{$_override}) {
  @extend %_h6;
}
// Styling elements
small:not(#{$_override}), .small {
  @extend %_small;
}
// Code
$_fontFamily-code: Consolas, "Courier New", monospace !default;
code,
kbd,
samp,
var,
pre {
  font-family: $_fontFamily-code;
}
code,
kbd,
samp,
var {
  display: inline-block;
}
pre {
  display: block;
  overflow-x: auto;
  overflow-wrap: normal;
  -webkit-overflow-scrolling: touch;
}
.code,
#{$_writing} code:not(#{$_override}) {
  @extend %_code;
}
.kbd,
#{$_writing} kbd:not(#{$_override}) {
  @extend %_kbd;
}
.samp,
#{$_writing} samp:not(#{$_override}) {
  @extend %_samp;
}
.var,
#{$_writing} var:not(#{$_override}) {
  @extend %_var;
}
.pre,
#{$_writing} pre:not(#{$_override}) {
  @extend %_pre;
}