body > .contents {
  padding: 20px 0;
}
.secoundary {
  .sideNav {
    ul {
      font-weight: bold;
      > li {
        margin: 5px 0;
        ul {
          margin-bottom: 15px;
          font-weight: normal;
          // font-size: $_fontSize-down1;
          @include _valueWithBp('font-size', $_fontSize-set-down1);
          li > a {
            padding-left: 15px;
          }
        }
      }
    }
    a {
      display: block;
      padding: 3px 0;
      color: #666;
      text-decoration: none;
      &:hover {
        color: inherit;
      }
    }
  }
}
@include _mq($_max: $_columnContainer-threshold) {
  .secoundary {
    margin-top: 30px;
    border-top: 1px solid $_color-gray-border;
    .sideNav {
      padding: 10px 0;
    }
  }
}
@include _mq($_columnContainer-threshold) {
  .columnContainer {
    .primary {
      flex-grow: 1;
      width: calc(100% - 200px);
    }
    .secoundary {
      min-width: 160px;
      flex-basis: 160px;
      order: -1;
      margin-right: $_gap--dt;
    }
  }
}

.codeExample {
  margin-bottom: 0 !important;
  padding: 20px;
  box-shadow: inset 0 0 0 3px $_color-bg-code;
}