.dev {
  #Native {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    left: 10%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
    transition: background-color linear 150ms;
    &:hover {
      background-color: rgba(255, 255, 255, .5);
    }
    @include _mq(tblg) {
      left: 50%;
    }
  }
  .comparemode {
    #Native {
      display: block;
    }
  }
}
#DevBar {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 999999;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba($color: #000000, $alpha: 0.5);
  padding: 5px 10px;
  font-size: 12px;
}
.devTool {
  background: #eee;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 2px !important;
  label {
    padding: 0 5px;
    display: inline-block;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, .1);
      border-radius: 5px;
    }
  }
}