$drawerMenu-threshold: 'tblg';
html.mainMenu-open {
  overflow: hidden;
  body {
    overflow: hidden;
    > .header .mainMenu {
      width: 100%;
      transition: width 5ms linear;
      .mainMenu_overlay {
        opacity: 1;
      }
      .mainMenu_contents {
        left: 0;
      }
    }
  }
}
body > .header {
  padding: 10px 0;
  width: 100%;
  height: 60px;
  background-color: $_color-gray-bg;
  z-index: 100;
  > .container {
    display: flex;
    justify-content: space-between;
  }
  .siteTitle {
    font-weight: bold;
    line-height: 40px;
    a {
      display: inline-block;
      color: inherit;
      text-decoration: none;
    }
  }
  .mainMenu {
    flex-grow: 1;
    @include _mq($_max: $drawerMenu-threshold) {
      transition: width 5ms linear 450ms;
      width: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 500;
      .mainMenu_overlay {
        opacity: 0;
        transition: opacity 150ms linear 20ms;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 510;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      .mainMenu_contents {
        transition: left 450ms cubic-bezier(0.165, 0.84, 0.44, 1) 20ms;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -270px;
        bottom: 0;
        width: 270px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 520;
        .mainMenu_body {
          html.is-iOS & {
            padding-top: 1px;
            padding-bottom: 2px; // 1pxずつだとiOSでガタつく場合がある
            box-shadow: inset 0 1px 0 0 red, inset 0 -2px 0 0 blue;
            min-height: calc(100% + 3px);
          }
        }
      }
    }
    .mainMenu_body {
      @include _mq($drawerMenu-threshold) {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .globalNav {
    padding: 30px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: $_color-gray-text;
    }
    a:hover {
      color: inherit;
    }
    @include _mq($drawerMenu-threshold) {
      margin: 0 40px;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      li:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .subMenu {
    line-height: 40px;
  }
}
.mainMenuButton {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 60px;
  height: 60px;
  background: #333;
  border-radius: 50%;
  border-width: 0;
  outline: none;
  z-index: 600;
  @include _mq($drawerMenu-threshold) {
    display: none;
  }
}