/* MARK:| _base.scss
............................................................ */
@import "../../_lib/css/elem/_base.scss";
//
%_body {
  background-color: $_color-body-bg;
  color: $_color-body-text;
}
%_hr {
  border: 1px solid $_color-gray-border;
  border-width: 1px 0 0 0;
  @each $_breakpoint, $_breakpoint-value in $_gap-mq {
    @include _mq($_breakpoint) {
      margin-top: $_breakpoint-value;
      margin-bottom: $_breakpoint-value;
    }
  }
}