/* MARK:| _form.scss
............................................................ */
@import "../../_lib/css/elem/_forms.scss";
//
/* MARK:/* formControl */
$_formControl-bg: $_color-body-bg;
$_formControl-border: $_color-gray-border;
$_formControl-borderRadius: 5px;
$_formControl-btn-bg: $_color-gray-bg;
$_formControl-btn-border: $_formControl-border;
$_formControl-readonly-bg: $_color-gray-bg;
$_formControl-disabled-bg: $_color-gray-bg;
$_formControl-readonly-text-color: $_color-body-text;
$_formControl-disabled-text-color: $_color-gray-text;
$_formControl-disabled-opacity: .6;

%_input-text,
%_input-search,
%_input-tel,
%_input-url,
%_input-email,
%_input-number,
%_input-password,
%_input-date,
%_input-datetime,
%_input-datetime-local,
%_input-time,
%_input-week,
%_input-month,
%_textarea,
%_select {
  padding: .6rem .8rem;
  border: 1px solid $_formControl-border;
  background-color: $_formControl-bg;
  height: 3.8rem;
  line-height: 1.5;
  border-radius: $_formControl-borderRadius;
}

%_input-text {
  /* */
}
%_input-search {
  /* */
}
%_input-tel {
  /* */
}
%_input-url {
  /* */
}
%_input-email {
  /* */
}
%_input-number {
  /* */
}
%_input-password {
  /* */
}
%_input-date {
  /* */
}
%_input-datetime {
  /* */
}
%_input-datetime-local {
  /* */
}
%_input-time {
  /* */
}
%_input-week {
  /* */
}
%_input-month {
  /* */
}
%_input-radio,
%_input-checkbox {
  margin-left: .4rem;
  margin-right: .4rem;
}
%_input-color {
  /* */
}
%_input-range,
%_input-submit,
%_input-button,
%_input-reset,
%_button {
  padding: .6rem 1rem;
  line-height: 1.5;
  background-color: $_formControl-btn-bg;
  border-radius: $_formControl-borderRadius;
  border: 1px solid $_formControl-btn-border;
}
%_input-file {
  padding: .45rem .8rem;
  line-height: 1.5;
  background-color: $_formControl-btn-bg;
  border-radius: $_formControl-borderRadius;
}
%_input-range {
  /* */
}
%_input-submit {
  /* */
}
%_input-button {
  /* */
}
%_input-reset {
  /* */
}
%_button {
  /* */
}
%_textarea {
  height: auto;
}
%_select {
  // &:not([multiple]) {
    // background-color: $_formControl-bg;
    // background-image: url($select-arrow-down);
    // background-position: center right .6rem;
    // background-repeat: no-repeat;
    // background-size: 10px 9px;
    // padding-right: 2.2rem;
  // }
  &[multiple] {
    height: auto;
  }
}
%_text-readonly {
  color: $_formControl-readonly-text-color;
}
%_text-disabled {
  color: $_formControl-disabled-text-color;
  opacity: $_formControl-disabled-opacity;
}
%_formControl-readonly {
  background-color: $_formControl-readonly-bg;
  @extend %_text-readonly;
}
%_formControl-disabled {
  opacity: $_formControl-disabled-opacity;
  background-color: $_formControl-disabled-bg;
  @extend %_text-disabled;
}