/* MARK:| _lists.scss
............................................................ */
@import "../../_lib/css/elem/_lists.scss";
//
/* MARK:/* UL, OL */
$_list-indent: 30px;
// $_list-gap: $_blockElem-gap-compact;
// $_list-children-gap: $_list-gap;
%_li {
  &:not(:last-child) {
    margin-bottom: $_list-gap;
  }
}
%_ul,
%_ol {
  li > & {
    margin-top: $_list-gap;
  }
  :not(:last-child) > & {
    margin-bottom: $_list-children-gap;
  }
}
// -- DO NOT DELETE --
// MARK:// default style
// %_ul,
// %_ol {
//   padding-left: $_list-indent;
// }
// %_ul {
//   *:not(li) & {
//     list-style-type: disc;
//   }
//   *:not(li) li & {
//     list-style-type: circle;
//   }
//   *:not(li) li li & {
//     list-style-type: square;
//   }
// }
// %_ol {
//   list-style-type: decimal;
// }
// --------

// MARK:// image marker style
%_ul {
  *:not(li) & > li {
    padding-left: $_list-indent;
    background: url($marker-disc) ($_list-indent - 16px) ((1em * $_lineHeight-default - 1em) / 2) no-repeat transparent;
    background-size: $_fontSize-default;
  }
}
%_ul ul > li,
%_ol ul > li {
  background-image: url($marker-circle);
}
%_ul ul ul > li,
%_ul ol ul > li,
%_ol ul ul > li,
%_ol ol ul > li {
  background-image: url($marker-square);
}
%_ol {
  padding-left: $_list-indent;
  list-style-type: decimal;
}

/* MARK:/* DL */
// $_dl-padding: 0.157em 0.5em;
%_dl {
  /* dl */
}
%_dt,
%_dd {
  padding: $_dl-padding;
}
%_dt {
  background-color: $_color-gray-bg;
}
// dl-simple
%_dl-simple {
  /* dl-simple */
}
%_dt-simple {
  font-weight: bold;
  margin-bottom: $_blockElem-gap-compact;
}
%_dd-simple {
  /* dl-simple dd */
}