/* MARK:| _table.scss
............................................................ */
$_table-gap: (
  default: 4px 8px,
  tb:      8px 12px,
  dt:      10px 15px
);
$_table-compact-gap: (
  default: 1px 3px,
  tb:      1px 5px
);
$_table-simple-gap: (
  default: (x: $_gap--splg, y: $_blockElem-gap),
  tb:      (x: $_gap--tb, y: $_blockElem-gap),
  dt:      (x: $_gap--dt, y: $_blockElem-gap)
);
$_table-simple-compact-gap: (
  default: (x: $_fontSize-default, y: $_blockElem-gap-compact)
);
//
@import "../../_lib/css/elem/_table.scss";
//
%_table, %_th, %_td {
  border: 1px solid $_color-gray-border;
}
%_tr {
  /* tr */
}
%_th {
  background-color: $_color-gray-bg;
  font-weight: bold;
}
%_td {
  /* td */
}
%_caption {
  text-align: center;
}
// table-simple
%_table-simple {
  /* table-simple */
}
%_tr-simple {
  /* tr-simple */
}
%_th-simple {
  font-weight: bold;
  text-align: left;
}
%_td-simple {
  /* td-simple */
}
%_caption-simple {
  /* caption-simple */
}

.writing table.table-border-x:not(.override):not(.table-simple) {
  border: 0;
  th, td {
    border: 0;
  }
  tr {
    border: 1px solid #ccc;
    border-width: 1px 0;
  }
}