/* MARK:| _typography.scss
............................................................ */
@import "../../_lib/css/elem/_typography.scss";
//
/* MARK:/* Headings */
$_headings-marginTop: 30px;
$_headings-lineHight: $_lineHeight-small;
%_h1, %_h2, %_h3, %_h4, %_h5, %_h6 {
  &:not(:first-child) {
    margin-top: $_headings-marginTop;
  }
  line-height: $_headings-lineHight;
}
%_h1 {
  font-size: $_fontSize-h1;
  @include _mq(tb) {
    font-size: $_fontSize-h1--tb;
  };
}
%_h2 {
  font-size: $_fontSize-h2;
  @include _mq(tb) {
    font-size: $_fontSize-h2--tb;
  };
}
%_h3 {
  font-size: $_fontSize-h3;
  font-weight: bold;
  @include _mq(tb) {
    font-size: $_fontSize-h3--tb;
  };
}
%_h4 {
  padding-bottom: 5px;
  font-size: $_fontSize-h4;
  font-weight: bold;
  border-bottom: 1px solid $_color-gray-border;
}
%_h5 {
  padding-bottom: 3px;
  font-size: $_fontSize-h5;
  font-weight: bold;
  border-bottom: 1px dotted $_color-gray-border;
}
%_h6 {
  font-size: $_fontSize-h6;
  font-weight: bold;
}

/* MARK:/* Styling elements */
%_small {
  font-size: $_fontSize-small;
}
/* MARK:/* Code */
$_color-bg-code: #f6f6f6 !default;
%_code,
%_kbd,
%_samp,
%_var {
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.375em;
  padding-bottom: 0.25em;
  background-color: $_color-bg-code;
  line-height: 1;
  border-radius: 3px;
  code & {
    display: inline;
    margin: 0;
    padding: 0;
    background-color: transparent;
    line-height: inherit;
  }
}
%_kbd {
  color: inherit;
  background-color: #fff;
  box-shadow: inset 0 -2px 0 0 $_color-gray-border, inset 0 0 0 1px $_color-gray-border;
}
%_pre {
  background-color: $_color-bg-code;
  code {
    // display: block;
    margin: 0;
    padding: 0.5em 1em;
    line-height: inherit;
    border-radius: 0;
  }
}