// Breakpoints
// $_breakpoints: (
//   default: 0,
//   splg: 425px,
//   tb: 600px,
//   tblg: 800px,
//   dt: 1200px
// );

// Colors



// Typography
// $_fontFamily: $_fontFamily-sansSerif;
// $_fontSize: 1.6rem;
// $_lineHeight-default: 1.6;
// $_lineHeight-small: 1.4;
$_fontSize-h1: 2.8rem;
$_fontSize-h2: 2.2rem;
$_fontSize-h3: 1.9rem;
$_fontSize-h4: 1.7rem;
$_fontSize-h5: 1.6rem;
$_fontSize-h6: 1.6rem;
$_fontSize-h1--tb: 3.6rem;
$_fontSize-h2--tb: 2.6rem;
$_fontSize-h3--tb: 2.2rem;

// $_fontSize-up3: $_fontSize + 0.6rem; // 2.2rem
// $_fontSize-up2: $_fontSize + 0.4rem; // 2.0rem
// $_fontSize-up1: $_fontSize + 0.2rem; // 1.8rem
// $_fontSize-down1: $_fontSize - 0.2rem; // 1.4rem
// $_fontSize-down2: $_fontSize - 0.4rem;  // 1.2rem
// $_fontSize-down3: $_fontSize - 0.6rem; // 1.0rem

// $_gap: 10px;
// $_gap--splg: 20px;
// $_gap--tb: 30px;
// $_gap--tblg: 30px;
// $_gap--dt: 40px;

// svg
$marker-disc: 'data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill%3A%20%23#{999}%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Ccircle%20id%3D%22marker-disc%22%20class%3D%22cls-1%22%20cx%3D%223%22%20cy%3D%228%22%20r%3D%223%22%2F%3E%20%3C%2Fsvg%3E';
$marker-circle: 'data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill%3A%20%23#{999}%3B%20fill-rule%3A%20evenodd%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cpath%20id%3D%22marker-circle%22%20class%3D%22cls-1%22%20d%3D%22M3%2C5A3%2C3%2C0%2C1%2C1%2C0%2C8%2C3%2C3%2C0%2C0%2C1%2C3%2C5ZM3%2C6A2%2C2%2C0%2C1%2C1%2C1%2C8%2C2%2C2%2C0%2C0%2C1%2C3%2C6Z%22%2F%3E%20%3C%2Fsvg%3E';
$marker-square: 'data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill%3A%20%23#{999}%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Crect%20id%3D%22marker-square%22%20class%3D%22cls-1%22%20y%3D%225%22%20width%3D%226%22%20height%3D%226%22%2F%3E%20%3C%2Fsvg%3E';
$select-arrow-down: 'data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229.969%22%20height%3D%228.625%22%20viewBox%3D%220%200%209.969%208.625%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill%3A%20%23#{f00}%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cpath%20id%3D%22select-arrow%22%20class%3D%22cls-1%22%20d%3D%22M5%2C8.627L0.018-.007H9.987Z%22%20transform%3D%22translate(-0.031)%22%2F%3E%20%3C%2Fsvg%3E';