/* MARK: | box
............................................................ */
$_componentName-box: 'box';
$_box-gap: (
  default: (x: 10px, y: 10px),
  sp:      (x: $_blockElem-gap, y: $_blockElem-gap),
  // dt:      (x: $_blockElem-gap--dt, y: $_blockElem-gap--dt)
);
$_box-compact-gap: (
  default: (x: 6px, y: 6px),
  dt:      (x: 10px, y: 10px)
);
//
@import "../../_lib/css/components/_box.scss";
//
@include _component-box($_componentName-box, $_box-gap) {
  border: 1px solid $_color-gray-border;
}
@include _modifier-box-compact($_componentName-box, $_box-compact-gap);