/* MARK: | scrollBox
............................................................ */
// $_componentName-scrollBox: 'scrollBox';
// $_scrollBox_message-x: '';
// $_scrollBox-style: (
//   font-size: 1.2rem,
//   color: #fff,
//   background: url(../images/theme/scrollBox-arrow.svg) center center no-repeat rgba($color: #666, $alpha: .9),
//   background-size: 5px 9px,
//   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35)
// );
//
@import "../../_lib/css/components/_scrollBox.scss";
//
// @include _component-box($_componentName-box, $_box-gap) {
//   border: 1px solid $_color-gray-border;
// }
// @include _modifier-box-compact($_componentName-box, $_box-compact-gap);