/* MARK: | tableGrid
............................................................ */
$_tableGrid-gap: (
  default: (x: $_gap--splg, y: $_blockElem-gap),
  tb:      (x: $_gap--tb, y: $_blockElem-gap),
  dt:      (x: $_gap--dt, y: $_blockElem-gap)
);
$_tableGrid-compact-gap: (
  default: (x: $_fontSize-default, y: $_blockElem-gap-compact)
);
//
@import "../../_lib/css/components/_tableGrid.scss";
//
