{%- import "./_lib/html/_macro.html" as macro -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set site = {
  name: 'swbp',
  author: 'mada-nemui',
  url: 'https://example.com/',
  copyright: 'mada-nemui',
  publishedYear: '2018',
  titleSeparator: ' | ',
  og: {
    'defaultType': 'article',
    'defaultImagePath': 'images/ogp-eyecatch.png',
    'defaultSiteName': '',
    'defaultDescription': '',
    'fb_appId': '',
    'tw_defaultCard': 'summary',
    'tw_site': ''
  },
  icons: {
    'appIconTitle': '',
    'appIconPath': 'images/apple-touch-icon.png',
    'appIconSizes': '180x180',
    'faviconPath': 'images/favicon.ico'
  }
} -%}
{#-/* MARK:| base html
............................................................ -#}
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="ja">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ macro.createDocumentTitle(document, group, site) }}</title>
  {%- if document.description %}
  <meta name="description" content="{{document.description}}">
  {%- endif %}
  {%- if document.keywords %}
  <meta name="keywords" content="{{document.keywords}}">
  {%- endif %}
  {{- macro.createMetaOg(document, group, site) -}}
  {{- macro.createMetaIcons(site) -}}
  {%- block styles %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="/css/style.min.css" media="screen,print">
  {%- endblock %}
</head>
<body class="{{layout.class}} {{group.class}} {{document.class}}">
  {%- block body %}
  {%- endblock %}

  {%- block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
  <script src="/js/main.min.js"></script>
  {%- endblock %}
</body>
</html>