<footer class="footer" id="Footer">
  <div class="container">
    <div class="footer_body">
      <h1><p>h1</p><p>h1</p></h1>
      <div class="writing">
        <p>Aaaaa</p>
        <p>Aaaaa</p>
        <p>Aaaaa</p>
      </div>
      <div class="writing">BBB</div>
      <div class="flexGrid">
        <div>1</div>
        <div>2</div>
        <div style="flex-basis:100%;">3</div>
      </div>
      <div class="flexGrid">
        <div>1</div>
        <div>2</div>
        <div>3</div>
      </div>
      <!-- <p class="copyright"><small>&copy; {{macro.createCopyrightYear(site)}} {{site.copyright}}</small></p> -->
    </div>
  </div>
</footer>