{%- set _globalNavList = [
  { title: 'ドキュメント', class: 'docs', href: '/docs/index.html'},
  { title: 'Dev', class: 'dev', href: '/dev/index.html'}
] -%}
<button class="mainMenuButton" id="MainMenuButton"></button>
<header class="header" id="Header">
  <div class="container">
    <h1 class="siteTitle"><a href="/index.html">swbp</a></h1>
    <div class="mainMenu" id="MainMenu">
      <div class="mainMenu_overlay" id="MainMenu_Overlay"></div>
      <div class="mainMenu_contents" id="MainMenu_Contents">
        <div class="mainMenu_body" id="mainMenu_Body">
          <ul class="globalNav">
            {% for item in _globalNavList %}
            <li class="{{item.class}}{{macro.compareTextReturnStr(group.class, item.class, ' stay')}}"><a href="{{item.href}}">{{item.title}}</a></li>
            {% endfor %}
          </ul>
          {# <ul id="ScrollContent"><li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li> <li>9</li></ul> #}
        </div>
      </div>
    </div>
    <div class="subMenu">
      {# <p><a href="#">GitHub</a></p> #}
    </div>
  </div>
</header>