{%- extends './_base.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set layout = {
  class: 'layout-docs'
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| body
............................................................ -#}
{%- block body %}

  {%- block header %}
    {%- include './_header.html' -%}
  {% endblock -%}

  <div class="contents" id="Contents">
    <div class="columnContainer">
      <div class="primary writing" id="Primary">
        <div class="article">
          {%- block contents %}
          {% endblock -%}
        </div>
      </div>
      <div class="secoundary" id="Secoundary">
        <div class="sidebar">
          {%- include './dev/_dev-nav.html' -%}
        </div>
      </div>
    </div>
  </div>

  {%- block footer %}
    {%- include './_footer.html' -%}
  {% endblock -%}

  <div class="writing" id="DevBar" style="text-align: center;">
    <label for="comparemodeSwitch"><input type="checkbox" name="" id="comparemodeSwitch"> writing比較モード</label>
  </div>

{% endblock -%}

{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
  <script>
    (function($) {
      $(function() {
        $('#Primary').clone().attr('id', 'Native').removeAttr('class').appendTo('#Contents');
        $('#comparemodeSwitch').on('change', function() {
          $('#Contents').toggleClass('comparemode');
          $('#Native').offset({top: $('#Contents').offset().top});
        });
      });
    })(jQuery);
  </script>
{%- endblock %}