{%- extends './_base.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set layout = {
  class: 'layout-docs'
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| body
............................................................ -#}
{%- block body %}

  {%- block header %}
    {%- include './_header.html' -%}
  {% endblock -%}

  <div class="contents" id="Contents">
    <div class="columnContainer">
      <div class="primary writing" id="Primary">
        <div class="article">
          {%- block contents %}
          {% endblock -%}
        </div>
      </div>
      <div class="secoundary" id="Secoundary">
        {%- include './docs/_docs-nav.html' -%}
      </div>
    </div>
  </div>

  {%- block footer %}
    {%- include './_footer.html' -%}
  {% endblock -%}

{% endblock -%}

{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}