{%- extends './_layout-home.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'home',
  name: ''
} -%}
{%- set document = {
  relativePath: './',
  url: 'index.html',
  type: 'page',
  class: 'home',
  name: 'ホーム',
  titleSetting: {
    'uniqueTitle': 'Static Website Boilerplate',
    'document': false, 'group': false, 'site': false },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1>Static Website Boilerplate</h1>
<ul>
  <li><a href="./docs/index.html">ドキュメント</a></li>
</ul>
{% endblock -%}

{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}