{%- extends './_layout-dev.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'dev',
  name: ''
} -%}
{%- set document = {
  relativePath: '../',
  url: 'dev/embeds.html',
  type: 'page',
  class: 'dev-embeds',
  name: 'Embeds',
  titleSetting: {
    'uniqueTitle': '',
    'document': true, 'group': false, 'site': true },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1>Embeds</h1>
<h2>Map</h2>
<div class="ratio" data-dev="ratio" data-class='["ratio-1to1","ratio-2to1--dt"]'>
  <iframe id="m1" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13590.659050166903!2d130.52796455!3d31.6156445!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1526434632165" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<h2>Video</h2>
<iframe src="https://www.youtube.com/embed/OYk2Ezj1D_A?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
<div class="ratio" style="background:#fee;">
  <p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
</div>
<div class="box box-compact">
  <p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
</div>
{% endblock -%}


{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}