{%- extends './_layout-dev.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'dev',
  name: ''
} -%}
{%- set document = {
  relativePath: '../',
  url: 'dev/flexGrid.html',
  type: 'page',
  class: 'dev-flexGrid',
  name: 'flexGrid',
  titleSetting: {
    'uniqueTitle': '',
    'document': true, 'group': false, 'site': true },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1>flexGrid</h1>
<div>
  <div>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</div>
  <p>Aaaa</p>
  <ul>
    <li>1111</li>
    <li>2222</li>
    <li>3333</li>
  </ul>
  <table class="w-1of1 autoWrap-disabled" data-dev data-class='["table-simple","table-compact","w-1of1"]'>
    <tr><th>名前</th><th>出身</th><th>Ａ値</th><th>Ｂ値</th></tr>
    <tr><td>田中</td><td>東京</td><td>123</td><td>123</td></tr>
    <tr><td>鈴木</td><td>大坂</td><td>456</td><td>456</td></tr>
    <tr><td>佐藤</td><td>京都</td><td>789</td><td>789</td></tr>
  </table>
  <p>Aaaa</p>
</div>
<div class="flexGrid" data-dev data-class='["flexGrid","flexGrid-gapless","flexGrid-compact","flexGrid-tile","flexGrid-compactTile","children-w-1of2"]'>
  <div>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</div>
  <div><div class="flexGrid" data-dev data-class='["flexGrid","flexGrid-gapless","flexGrid-compact","flexGrid-tile","flexGrid-compactTile","children-w-1of2"]'>
  <div>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</div>
  <div>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</div>
</div></div>
</div>
<p>ああああ</p>
<div class="flexGrid" data-dev data-class='["flexGrid","flexGrid-gapless","flexGrid-compact","flexGrid-tile","flexGrid-compactTile","children-w-1of2","children-w-1of3--splg","children-w-1of4--tblg","odd-w-1of2--splg","even-w-1of3--splg"]'>
  <div><p>
    <img src="/images/sample-image.png" class="" width="900" height="" alt="Image"><br>Captionああいいうう</div>
  <div><p>
    <img src="/images/sample-image.png" class="" width="900" height="" alt="Image">
  </p></div>
  <div><p>
    <img src="/images/sample-image.png" class="" width="900" height="" alt="Image">
  </p></div>
  <div><p>
    <img src="/images/sample-image.png" class="" width="900" height="" alt="Image">
  </p></div>
  <div class="w-1of2--dt"><p>
    <img src="/images/sample-image.png" class="" width="900" height="" alt="Image">
  </p></div>
  <div><p>
    <img src="/images/sample-image.png" class="" width="900" height="" alt="Image">
  </p></div>
  <div><p>
    <img src="/images/sample-image.png" class="" width="900" height="" alt="Image">
  </p></div>
  <div class="w-auto--dt"><p>
    うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
  </p></div>
  <div><p>
    <img src="/images/sample-image.png" class="" width="900" height="" alt="Image">
  </p></div>
</div>

<div class="flexGrid" data-dev data-class='["flexGrid","flexGrid--splg","flexGrid-gapless","flexGrid-gapless--splg","flexGrid-gapless-x--splg","flexGrid-gapless-y--splg","flexGrid-compact","flexGrid-compact--splg","flexGrid-compact-x--splg","flexGrid-compact-y--splg","children-w-1of2"]'>
  <div>
    <p class="bold">Item 1<br>Item 1</p>
    <p class="bold--tb">Item 1 Item 1</p>
    <p class="bold bold-italic--tb">Item 1 Item 1</p>
  </div>
  <div class="w-2of2--tb">
    <p style="width: 280px;">Item 2</p>
  </div>
  <div class="w-1of2--tb">
    <p>3 あの<span class="fontSize-up3">イーハトーヴォ</span>のすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
    <p>3 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  </div>
  <div class="w-1of2--tb">
    <img src="/images/sample-image.png" alt="">
  </div>
  <div>
    <p>Item 4</p>
    <p>Item 4</p>
  </div>
  <div style="width: 50%;">
    <p>Item 5</p>
  </div>
  <div style="width: 50%;">
    <p>Item 6</p>
    <p>Item 6</p>
  </div>
  <div class="w-100">
    <p>Item 7</p>
  </div>
  <div class="w-1of3 w-2of3--tb">
    <p>Item 8 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  </div>
  <div class="w-2of3 w-1of3--tb">
    <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  </div>
</div>
<div style="background: #eee;">
  <p>テキスト</p>
</div>
<div class="flexGrid children-w-1 children-w-3--splg" data-dev data-class='["flexGrid","flexGrid-compact","children-w-1","children-w-3--splg"]'>
    <div>
      <div class="flexGrid children-w-1 children-w-2--tb">
        <div>
          <img src="/images/sample-image.png" alt="">
        </div>
        <div>
          <img src="/images/sample-image.png" alt="">
        </div>
      </div>
    </div>
    <div>
      <img src="/images/sample-image.png" alt="">
    </div>
    <div>
      <img src="/images/sample-image.png" alt="">
    </div>
  </div>
<h1>Box</h1>
<div class="box">
  <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
</div>
<div class="box box-compact elem-compact">
  <h2>box-compact</h2>
  <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <h2>h3</h2>
  <p>9 あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
</div>
<div class="box borderRadius-default" data-dev="box">
  <div class="flexGrid" data-dev data-class='["flexGrid","flexGrid-gapless","flexGrid-compact","flexGrid-tile","flexGrid-compactTile"]'>
    <div>
      <p>aaaaaあああああああ</p>
    </div>
    <div>
      <p>aaaaaあああああああ</p>
    </div>
  </div>
</div>
<h1>Table</h1>
<div class="tableGrid">
  <div>
    <p class="whiteSpace-nowrap w-20--tb">郵便番号:</p><p>[text postal-code min:7 max:8 placeholder "123-4567"]</p>
  </div>
  <div>
    <p>都道府県:</p>
    <div>
      <p>都道府県:</p><p>[text address-level1 class:w-100--splg]</p>
    </div>
  </div>
  <div>
    <p>市区町村:</p><p>[text address-level2 class:_w-100--splg]</p>
  </div>
  <div>
    <p>番地/建物/部屋:</p><p>[text address-line1 class:_w-100--splg]</p>
  </div>
</div>
<p>テキスト</p>


{% endblock -%}


{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}