{%- extends './_layout-dev.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'dev',
  name: ''
} -%}
{%- set document = {
  relativePath: '../',
  url: 'dev/forms.html',
  type: 'page',
  class: 'dev-forms',
  name: 'Forms',
  titleSetting: {
    'uniqueTitle': '',
    'document': true, 'group': false, 'site': true },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1>Forms</h1>
<form action="">
  <div class="formContents flexGrid--tb">
    <div class="formContents_header override"><label class="formText">お名前</label></div>
    <div class="formContents_body override"><input type="text"></div>
  </div>
  <dl class="formContents flexGrid--tb dl-simple">
    <dt class="formContents_header"><label class="formText">お名前</label></dt>
    <dd class="formContents_body"><input type="text"></dd>
  </dl>
  <dl class="formContents flexGrid--tb override odd-w-1of4--tb even-w-3of4--tb">
    <dt class="formContents_header formText override">text</dt>
    <dd class="formContents_body override"><input type="text"></dd>
    <dt class="formContents_header formText override"><label for="last-name" class="formControl">お名前</label></dt>
    <dd class="formContents_body override">
      <div class="flexGrid flexGrid-compact">
        <div class="w-auto"><label for="last-name" class="formText">性</label></div>
        <div><input type="text" id="last-name"></div>
        <div class="w-auto"><label for="first-name" class="formText">名</label></div>
        <div><input type="text" id="first-name"></div>
      </div>
    </dd>
  </dl>
  <div class="formContents tableGrid--tb w-1of1">
    <dl class="dl-simple">
      <dt>text</dt>
      <dd><input type="text"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>readonly <span class="required">必須</span></dt>
      <dd><input type="text" value="readonly" readonly></dd>
    </dl>
    <dl class="dl-simple">
      <dt>disabled</dt>
      <dd><input type="text" value="disabled" disabled></dd>
    </dl>
    <dl class="dl-simple">
      <dt>search</dt>
      <dd><input type="search" placeholder="Search"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>tel</dt>
      <dd><input type="tel"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>url</dt>
      <dd><input type="url"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>email</dt>
      <dd><input type="email"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>number</dt>
      <dd><input type="number"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>password</dt>
      <dd><input type="password"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>date</dt>
      <dd><input type="date"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>datetime</dt>
      <dd><input type="datetime"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>datetime-local</dt>
      <dd><input type="datetime-local"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>time</dt>
      <dd><input type="time"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>week</dt>
      <dd><input type="week"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>month</dt>
      <dd><input type="month"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>textarea</dt>
      <dd><textarea rows="5"></textarea></dd>
    </dl>
    <dl class="dl-simple">
      <dt>select</dt>
      <dd>
        <select name="select_element">
          <optgroup label="Option Group 1">
            <option value="1">オプション 1</option>
            <option value="2">オプション 2</option>
            <option value="3">オプション 3</option>
          </optgroup>
          <optgroup label="Option Group 2">
            <option value="1">オプション 1</option>
            <option value="2">オプション 2</option>
            <option value="3">オプション 3</option>
          </optgroup>
        </select>
      </dd>
    </dl>
    <dl class="dl-simple">
      <dt>select multiple</dt>
      <dd>
        <select name="select_element" multiple>
          <optgroup label="Option Group 1">
            <option value="1">オプション 1</option>
            <option value="2">オプション 2</option>
            <option value="3">オプション 3</option>
          </optgroup>
          <optgroup label="Option Group 2">
            <option value="1">オプション 1</option>
            <option value="2">オプション 2</option>
            <option value="3">オプション 3</option>
          </optgroup>
        </select>
      </dd>
    </dl>
    <dl class="dl-simple">
      <dt>radio</dt>
      <dd>
        <label for="radio1"><input type="radio" class="radio" name="radio_button" value="radio_1" id="radio1">ラジオボタン 1</label><br>
        <label for="radio2" class="text-disabled"><input type="radio" class="radio" name="radio_button" value="radio_2" id="radio2" disabled>ラジオボタン 2</label><br>
        <label for="radio3"><input type="radio" class="radio" name="radio_button" value="radio_3" id="radio3" checked>ラジオボタン 3</label>
      </dd>
    </dl>
    <dl class="dl-simple">
      <dt>checkbox</dt>
      <dd>
        <div class="flexGrid--tb flexGrid-gapless--tb">
          <label for="checkboxes1"><input type="checkbox" class="checkbox" name="checkboxes" value="check_" id="checkboxes1">チェックボックス 1</label>
          <label for="checkboxes2" class="text-disabled"><input type="checkbox" class="checkbox" name="checkboxes2" value="check_2" id="checkboxes2" disabled>チェックボックス 2</label>
          <label for="checkboxes3"><input type="checkbox" class="checkbox" name="checkboxes3" value="check_3" id="checkboxes3" checked>チェックボックス 3</label>
        </div>
      </dd>
    </dl>
    <dl class="dl-simple">
      <dt>color</dt>
      <dd><input type="color"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>file</dt>
      <dd><input type="file" class="file" name="file"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>range</dt>
      <dd><input type="range" name="range" value="" min="0" max="100" step="1"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>submit / button / reset</dt>
      <dd><input type="submit" value="送信" disabled><input type="button" value="ボタン"><input type="reset"></dd>
    </dl>
    <dl class="dl-simple">
      <dt>submit / button / reset</dt>
      <dd>
        <div class="flexGrid flexGrid-compact">
          <span class="w-auto"><input type="submit" value="送信"></span>
          <span class="w-auto"><input type="button" value="ボタン"></span>
          <span class="w-auto"><input type="reset"></span>
        </div>
      </dd>
    </dl>
    <dl class="dl-simple">
      <dt>button</dt>
      <dd><button>ボタン</button></dd>
    </dl>
  </div>
</form>
{% endblock -%}


{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}