{%- extends './_layout-dev.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'dev',
  name: ''
} -%}
{%- set document = {
  relativePath: '../',
  url: 'dev/index.html',
  type: 'page',
  class: 'dev-index',
  name: 'ドキュメント',
  titleSetting: {
    'uniqueTitle': '',
    'document': true, 'group': false, 'site': true },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1 id="Elements">エレメント</h1>
<h2 id="Typography">タイポグラフィ</h2>
<p><cite>/src/_lib/css/base/<b>_typography.scss</b></cite></p>
<h3 id="Headings">見出し</h3>
<h1>h1. 見出し</h1>
<h2>h2. 見出し</h2>
<h3>h3. 見出し</h3>
<h4>h4. 見出し</h4>
<h5>h5. 見出し</h5>
<h6>h6. 見出し</h6>
<details>
  <summary>ソース</summary>
<pre>
<code class="scss">$headings-line-height: 1.4 !default;
$headings-margin-top: 3rem !default;
$headings-margin-bottom: $block-element-margin-bottom !default;

$headings-styles: (
  'default': (
    'h1': (
      'font-size': $_fontSize-1,
      'line-height': $headings-line-height,
      'margin-top': $headings-margin-top,
      'margin-bottom': $headings-margin-bottom
    ),
    'h2': (
      'font-size': $_fontSize-2,
      'line-height': $headings-line-height,
      'margin-top': $headings-margin-top,
      'margin-bottom': $headings-margin-bottom
    ),
    'h3': (
      'font-size': $_fontSize-3,
      'line-height': $headings-line-height,
      'margin-top': $headings-margin-top,
      'margin-bottom': $headings-margin-bottom
    ),
    'h4': (
      'font-size': $_fontSize-4,
      'line-height': $headings-line-height,
      'margin-top': $headings-margin-top,
      'margin-bottom': $headings-margin-bottom
    ),
    'h5': (
      'font-size': $_fontSize-5,
      'line-height': $headings-line-height,
      'margin-top': $headings-margin-top,
      'margin-bottom': $headings-margin-bottom
    ),
    'h6': (
      'font-size': $_fontSize-6,
      'line-height': $headings-line-height,
      'margin-top': $headings-margin-top,
      'margin-bottom': $headings-margin-bottom
    )
  )
) !default;</code>
</pre>
</details>
<hr>
<h3 id="Paragraphs">段落</h3>
<p>吾輩は猫である。名前はまだ無い。</p>
<p>吾輩は猫である。名前はまだ無い。</p>
<p>吾輩は猫である。名前はまだ無い。</p>
<p>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
<p class="fontSize-up5">吾輩は猫である。名前はまだ無い。どこで生れたか...</p>
<p class="fontSize-up4">何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</p>
<p class="fontSize-up3">どこで生れたかとんと見当がつかぬ。</p>
<p class="fontSize-up2">何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</p>
<p class="fontSize-up1">吾輩はここで始めて人間というものを見た。</p>
<p>しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>
<p class="fontSize-down1">この書生というのは時々我々を捕えて煮て食うという話である。</p>
<p class="fontSize-down2">しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</p>
<p class="fontSize-down3">ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
<details>
  <summary>ソース</summary>
<pre>
<code class="scss">p {
  margin-top: $block-element-margin-top;
  margin-bottom: $block-element-margin-bottom;
}</code>
</pre>
</details>
<hr>
<h3 id="Links">リンク</h3>
<p><a href="Links" class="_link-init">未訪問のリンク</a>です。<a href="Links" class="_link-visited">訪問済み</a>、<a href="Links" class="_link-hover">ホバー</a>、<a href="Links" class="_link-active">アクティブ</a>。クラス<code>_blank</code>を付与した<a href="Links" class="_blank">リンク</a>。</p>
<h3 id="Lists">リスト</h3>
<h4>ul, ol</h4>
<ul>
  <li>リスト</li>
  <li>リスト</li>
  <li>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</li>
  <li>リスト</li>
</ul>
<p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
<ol>
  <li>リスト</li>
  <li>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</li>
  <li>リスト</li>
</ol>
<p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
<ul>
  <li>リスト
    <ul>
      <li>リスト</li>
      <li>
        <p>段落</p>
        <p>段落</p>
      </li>
      <li>リスト</li>
    </ul>
  </li>
  <li>リスト
    <ol>
      <li>リスト</li>
      <li>リスト
        <ul>
          <li>リスト</li>
          <li>リスト
            <ul>
              <li>リスト</li>
              <li>リスト</li>
              <li>リスト</li>
            </ul>
          </li>
          <li>リスト</li>
        </ul>
      </li>
      <li>リスト</li>
    </ol>
  </li>
  <li>リスト
    <ul>
      <li>リスト</li>
      <li>リスト
        <ul>
          <li>リスト</li>
          <li>リスト</li>
          <li>リスト</li>
        </ul>
      </li>
      <li>リスト</li>
    </ul>
  </li>
  <li>リスト</li>
</ul>
<ol>
  <li>リスト
    <ul>
      <li>リスト</li>
      <li>リスト</li>
      <li>リスト</li>
    </ul>
  </li>
  <li>リスト</li>
  <li>リスト
    <ol>
      <li>リスト</li>
      <li>リスト</li>
      <li>リスト</li>
    </ol>
  </li>
  <li>リスト
    <ol>
      <li>リスト</li>
      <li>リスト
        <ol>
          <li>リスト</li>
          <li>リスト</li>
          <li>リスト</li>
        </ol>
      </li>
      <li>リスト</li>
    </ol>
  </li>
</ol>
<h4>dl</h4>
<dl>
  <dt>りんご</dt>
  <dd>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</dd>
  <dt>東京1980's MIX 2018年発売</dt>
  <dd>
    <p>あのイーハトーヴォのすきとほった風</p>
    <p>あのイーハトーヴォのすきとほった風</p>
  </dd>
  <dt>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</dt>
  <dd>http://localhost:3000/dev/index.html</dd>
</dl>
<dl class="dl-simple">
  <dt>りんご</dt>
  <dd>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</dd>
  <dt>東京1980's MIX 2018年発売</dt>
  <dd>
    <p>あのイーハトーヴォのすきとほった風</p>
    <p>あのイーハトーヴォのすきとほった風</p>
  </dd>
  <dt>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</dt>
  <dd>http://localhost:3000/dev/index.html</dd>
</dl>
<div class="dl dl-simple flexGrid--tb odd-w-1of3--tb even-w-2of3--tb">
  <h3 class="dt override">H3</h3>
  <p class="dd">あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <h3 class="dt override">東京1980's MIX 2018年発売</h3>
  <div class="dd">
    <p>あのイーハトーヴォのすきとほった風</p>
    <p>あのイーハトーヴォのすきとほった風</p>
  </div>
  <h3 class="dt override">Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
  <p class="dd">http://localhost:3000/dev/index.html</p>
</div>
<div class="tableGrid--tblg">
  <dl class="dl-simple">
    <dt>Table</dt>
    <dd class="_w-2of3--tblg">あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</dd>
  </dl>
  <dl class="dl-simple">
    <dt>東京1980's MIX 2018年発売</dt>
    <dd>
      <p>あのイーハトーヴォのすきとほった風</p>
      <p>あのイーハトーヴォのすきとほった風</p>
    </dd>
  </dl>
  <dl class="dl-simple">
    <dt>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</dt>
    <dd>http://localhost:3000/dev/index.html</dd>
  </dl>
</div>
<h3 id="Code">コード</h3>
<p>ソースコードを表現するタグが<code>&lt;code&gt;</code>です。</p>
<pre><code class="nohighlight">&lt;p&gt;&lt;pre&gt;と組み合わせればコードブロックを作ることもできます。&lt;/p&gt;</code></pre>
<p><code>&lt;var&gt;</code>は変数を表します。</p>
<pre><code class="nohighlight">var <var>foo</var> = &quot;bar&quot;;</code></pre>
<pre><code class="nohighlight"><samp>プログラムがアウトプットしたコードのサンプルは&lt;samp&gt;で表します。</samp></code></pre>
<p><code class="nohighlight">&lt;kbd&gt;</code>はキーボードのキーを表します。このように: <kbd class="override"><kbd>cmd</kbd>+<kbd>Z</kbd></kbd></p>
<hr>
<h3 id="Quotes">引用</h3>
<blockquote>
  <p>引用文は<code>&lt;blockquote&gt;</code>で表します。</p>
  <cite>出典は<code>&lt;cite&gt;</code>で表します。</cite>
</blockquote>
<p><code>&lt;q&gt;</code>は<q>他の情報源からの引用部分を表します。</q>と書かれています。</p>
<hr>

{% endblock -%}


{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}
