{%- extends './_layout-dev.html' -%}
{#-/* MARK:| settings
............................................................ -#}
{%- set group = {
  class: 'dev',
  name: ''
} -%}
{%- set document = {
  relativePath: '../',
  url: 'dev/table.html',
  type: 'page',
  class: 'dev-table',
  name: 'Table',
  titleSetting: {
    'uniqueTitle': '',
    'document': true, 'group': false, 'site': true },
  description: '',
  keywords: '',
  og: {
    'title': '',
    'type': '',
    'imagePath': '',
    'siteName': '',
    'description': '',
    'tw_card': ''
  }
} -%}

{#-/* MARK:| styles
............................................................ -#}
{%- block styles %}
  {{- super() -}}
  {#- Append CSS #}
{%- endblock %}

{#-/* MARK:| contents
............................................................ -#}
{%- block contents %}
<h1>Table</h1>
<table class="autoWrap-disabled" data-dev data-class='["table-simple","table-compact"]'>
  <caption>Caption</caption>
  <colgroup span="1" style="_width:50px; background-color:#ccccff;">
  </colgroup>
  <colgroup style="background-color:#ccffcc;">
    <col span="1" style="_width:100px; _background-color:#ffcccc;">
    <col span="2" style="_width:150px; _background-color:#ccffcc;">
  </colgroup>
  <tr><th>名前</th><th>出身</th><th>Ａ値</th><th>Ｂ値</th></tr>
  <tr><td>田中</td><td>東京</td><td>123</td><td>12.3</td></tr>
  <tr><td>鈴木鈴木鈴木</td><td>aaaaaaaaaaaaaaaaaaaaaaaaaaa</td><td>456</td><td>45.6</td></tr>
  <tr><td>佐藤</td><td>京都</td><td>789</td><td>78.9</td></tr>
</table>
<table class="w-1of1 autoWrap-disabled" data-dev data-class='["table-simple","table-compact","w-1of1"]'>
  <tr><th>名前</th><th>出身</th><th>Ａ値</th><th>Ｂ値</th></tr>
  <tr><td>田中</td><td>東京</td><td>123</td><td>123</td></tr>
  <tr><td>鈴木</td><td>大坂</td><td>456</td><td>456</td></tr>
  <tr><td>佐藤</td><td>京都</td><td>789</td><td>789</td></tr>
</table>
<p>[p]ああああああああ</p>
<h2>scrollBox</h2>
<p>tableにmin-widthを指定し、.scrollBoxで囲む</p>
<div class="scrollBox">
  <table style="min-width:600px;">
    <colgroup span="1" style="_width:50px; background-color:#ccccff;">
    </colgroup>
    <colgroup style="background-color:#ccffcc;">
      <col span="1" style="_width:100px; _background-color:#ffcccc;">
      <col span="2" style="_width:150px; _background-color:#ccffcc;">
    </colgroup>
    <tr><th>名前</th><th>出身</th><th>Ａ値</th><th>Ｂ値</th></tr>
    <tr><td>田中</td><td>東京</td><td>123</td><td>12.3</td></tr>
    <tr><td>鈴木</td><td>大坂</td><td>456</td><td>45.6</td></tr>
    <tr><td>佐藤</td><td>京都</td><td>789</td><td>78.9</td></tr>
  </table>
</div>
<h2>tableGrid</h2>
<p>tableGridは、全ての行で列の幅をコンテンツの内容に合わせたい場合に使います。paddingの設定により、幅を設定しても意図した物にならない可能性があります。列に正確な幅を設定したい場合は代わりに<a href="./flexgrid.html">flexGrid</a>を使用してください。</p>
<div class="tableGrid" data-dev data-class='["tableGrid","tableGrid--splg","tableGrid--dt","tableGrid-gapless","tableGrid-compact","tableGrid-compact--splg","tableGrid-gapless--splg","w-1of1","w-1of2"]'>
  <div>
    <div>田中</div>
    <div>東京</div>
    <div>123</div>
    <div>123</div>
  </div>
  <div>
    <div>鈴木</div>
    <div>大坂</div>
    <div>456</div>
    <div>456</div>
  </div>
  <div>
    <div>佐藤</div>
    <div>京都</div>
    <div>789</div>
    <div>789</div>
  </div>
</div>
<p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
<p>TODO: width: 100%;の時、幅が縮んでしまう calc(100% + 20px)</p>
<div class="tableGrid" data-dev="tableGrid" data-class='["tableGrid","table","tableGrid-gapless","tableGrid-compact","w-1of1"]'>
  <dl class="tr override">
    <dt class="th override">[th]名前</dt>
    <dd class="td override">[dd]あのイーハトーヴォのすきとほった風</dd>
  </dl>
  <dl class="tr">
    <dt class="th">名前</dt>
    <dd class="td">
      <p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら</p>
      <p>あのイーハトーヴォのすきとほった風、夏でも底に冷たさをもつ青いそら</p>
    </dd>
  </dl>
</div>
{% endblock -%}


{#-/* MARK:| scripts
............................................................ -#}
{%- block scripts %}
  {{- super() -}}
  {#- Append JS #}
{%- endblock %}